<div class="searchListingContainer" fxLayout="column" fxLayoutAlign="start center">
  <div class="heading">
    <h1>{{searchText}}</h1>
  </div>
  <div class="productsListing" infinite-scroll [alwaysCallback]="true" [infiniteScrollDistance]="scrollDistance"
    (scrolled)="onScrollDown()" fxFill fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <div class="empty text-center" *ngIf="products.length === 0 && !productsGettingLoaded" fxFlex="100">No Products
      Found</div>
    <div *ngFor="let item of products; index as productIndex" fxFlex="50" fxFlex.gt-xs="25" fxFlex.gt-md="15">
      <app-product-list-item-view [product]="{ category_sename: 'new-in', data: item }" [index]="productIndex"
        [listType]="listType">
      </app-product-list-item-view>
    </div>
  </div>
  <div *ngIf="productsGettingLoaded" class="CategoryLoaderDiv" fxFill>
    <div class="CategoryLoader bg-logo">
    </div>
  </div>
</div>
