.checkout_btn {
  cursor: pointer;
  border: 1px solid #090954;
  border-radius: 3em;
  padding: .5em;
  color: #ffffff;
  background: #090954;
  width: 250px;

  &:hover {
    color: #090954;
    background: #ffffff;
  }
}

.text-center {
  text-align: center;
}

.text-align {
  text-align: left;
}

.paymentsContainer {
  padding: 1em 0;
  min-height: 50vh;
  max-width: 1200px;
  margin: auto;
}

.navigation {
  margin-bottom: 2em;
}

.underline {
  text-decoration: underline;
}

.p-1 {
  padding: 1em;
}

.w-100 {
  width: 100%;
}

