<div class="paymentsContainer" fxLayout="column" fxLayoutAlign="start center">
  <app-checkout-nav></app-checkout-nav>
  <div class="paymentsDiv w-100" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <!-- <app-breadcrumb [breadcrumbList]="breadcrumbList" fxFlex="100"></app-breadcrumb> -->
    <div class="paymentsDiv" fxFlex="100" fxFlex.gt-xs="60" fxLayout="column" fxLayoutAlign="start center">
      <div fxFill>
        <!-- Payment methods -->
        <app-payment-methods [paymentMethods]="paymentMethods"></app-payment-methods>
      </div>
    </div>
    <div class="orderSummary w-100" fxFlex.gt-xs="35">
      <app-order-summary></app-order-summary>
    </div>
  </div>
</div>
