<div class="profileContainer" fxLayout="column" fxLayoutAlign="start start"> 
  <div fxHide.xs fxShow.gt-xs class="profileImage w-100 text-center" fxLayout="column" fxLayoutAlign="center center">
    <h1>happy <br />together</h1>
  </div>
  <div  fxShow.xs fxHide.gt-xs class="profileImage1 w-100 text-center" fxLayout="column" fxLayoutAlign="center center">
    <img style="min-height: 220px;width: 100%;" src="https://files.y.jewelry/assets/img/profile/profileCover.jpg" alt="">
    <h1 class="target-mobile">happy together</h1>
  </div>
</div>
<div class="orderDetailsContainer profileContainer" fxLayout="column" fxLayoutAlign="start start">   
 
  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="errordiv">
      <app-alert [IsShow]="alertShow" [AlertClass]="alertClass" (Close)="Hide()">
        <strong>!!!</strong> {{alertMsg}}
      </app-alert>
  </div>
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <img  [routerLink]="['/account/orders']" class="card-image" src="https://files.y.jewelry/assets/img/profile/orderDetails/less.png" alt="profile" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start"> 
          <div class="card-heading link cursorPointer">
            Order #Rating
          </div>         
        </div>
        <div class="w-100 card-body">   
        
           <table mat-table [dataSource]="dataSource" class="w-100 px1em"> 
            <ng-container matColumnDef="image" class="borderNone">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <div class="tablecellCustom" fxLayout="column"
                fxLayoutAlign="space-around start">
                 <img style="height: 100px;width: 100px; border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;" [src]="element.orderItem.product.images[0].src" alt="element.orderItem.product.images[0].alt" /> 
                </div>
              </td>
            </ng-container>    
            <!-- Name Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell *matCellDef="let element" class="productNameDiv">
                <div class="h-100 tablecellCustom br-none product-info" fxLayout="column"
                  fxLayoutAlign="space-between start">
                  <div class="productName cursorPointer">
                    <span  [routerLink]="['/', element.orderItem.product.category_sename, element.orderItem.product.se_name]">{{element.orderItem.product.name}}</span>
                  </div>
                  <div class="light-blue">Ref. {{element.orderItem.product.sku}}</div>

                </div>
                  
              </td>
            </ng-container>    
            <!-- 3 Column -->
            <ng-container matColumnDef="three">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell class="displayTableCell" *matCellDef="let element">
                <div class="h-100 mr-l-10 pricediv tablecellCustom"  fxLayout="column"
                fxLayoutAlign="space-between center">
                 <app-ratingComponent [ratenumber]="element.rate" (RatingNumberChangedEvent)="RatingChangedEvent($event,element);"></app-ratingComponent> 

              </div>
              </td>
            </ng-container>     
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnstwo"></tr>
            <tr mat-row class="mat-elevation-z0 mat-tr" *matRowDef="let row; columns: displayedColumnstwo;"></tr>
          </table>
          <div class="d-flex justify-content-center mtr-2010">
              <button  (click)="SubmitRating();"  class="btn btn-blue">Submit </button>
          </div>
           
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loaderY bg-logo" *ngIf="trackLoading">
</div>