<div class="creditsContainer" fxLayout="column" fxLayoutAlign="start start">
  <div class="normal" *ngIf="myRewardpoints">
    You currently saved {{myRewardpoints.points | number:''}} Credits, which allows you to get
    ₹{{(myRewardpoints.points/4) | ToFixed | number:''}} cash back on your next order. So, what are
    you waiting for? <a [routerLink]="['/charms']">Start shopping now</a>
  </div>
  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <img class="card-image" src="https://files.y.jewelry/assets/img/profile/profile.png" alt="profile" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="card-heading">MY FRIENDS</div>
        </div>
        <div class="w-100 card-body">
          <div class="headings mr20" fxLayout="row" fxLayoutAlign="start start">
            <div class="col1">Name</div>
            <div class="col3">Email</div>
          </div>
          <div class="data mr20" fxLayout="row" fxLayoutAlign="start start" *ngIf="myChainOfCharm.parent">
            <div class="col1"><b>{{myChainOfCharm?.parent.name}}</b></div>
            <div class="col3"><b>{{myChainOfCharm?.parent.email}}</b></div>
          </div>
          <div class="data mr20" fxLayout="row" fxLayoutAlign="start start"
            *ngFor="let node of myChainOfCharm.children">
            <div class="col1">{{node?.name}}</div>
            <div class="col3">{{node?.email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <img class="card-image" src="https://files.y.jewelry/assets/img/profile/credits.png" alt="credits" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="card-heading">MY CREDIT HISTORY</div>
        </div>
        <div class="w-100 card-body">
          <div class="headings mr20" fxLayout="row" fxLayoutAlign="start start">
            <div class="col1">DATE</div>
            <div class="col2">CREDITS</div>
            <div class="col3" fxHide fxShow.gt-sm>EVENT</div>
          </div>
          <ng-container *ngIf="myRewardpointDetails&&myRewardpointDetails.history.length>0">
            <div class="data mr20" fxLayout="row" fxLayoutAlign="start start"
              *ngFor="let node of myRewardpointDetails.history">
              <div class="col1">{{node?.createdOnUtc | date: 'dd MMM yyyy' }}</div>
              <div class="col2">{{node?.points | number:''}}</div>
              <div class="col3" fxHide fxShow.gt-sm>{{node?.message}}</div>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
  </div>
</div>
