<div fxLayout="column" fxLayout.gt-sm="row" class="result" *ngIf="products">
  <div fxFlex='30' fxLayout="row" fxLayoutAlign="center center" class="yourSelection">
    <div id="yourSelectionText">
      <h1>my selection</h1>
    </div>
  </div>
  <div fxFlex='70' fxLayout="column" fxLayoutAlign="space-between center" class="side_panel">
    <div>
      <p class="msg">
        Now that we know you better, we have selected personalized charms only for you. <br>
        Find the ones you love? Share them with your friends or add them to your cart.
        If not, let's try once more!
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" [fxLayout]="'row'" fxLayoutWrap class="products widthFull">
      <div fxFlex='50' fxLayout="column" fxLayoutAlign="space-between center" *ngFor="let product of products"
        (click)="toProduit(product.se_name)">
        <div class="product_img">
          <img [src]="product.images[0] ? product.images[0].src: 'https://files.y.jewelry/assets/img/Logo.svg'"
            [alt]="product.images[0] ? product.images[0].attachment: 'product picture'"
            [title]="product.images[0] ? product.images[0].title: 'product picture'" class="img" />
        </div>
        <div class="product_title">{{product.name}}</div>
        <div class="product_price"><span
            [ngClass]="{'priceWithoutDiscount': product.price_model.price_with_discount}">{{product.price_model.price}}</span>
          {{product.price_model.price_with_discount}}</div>
      </div>
    </div>
    <div class="form_actions" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
      class="btn_panel">
      <div class="panel_btns">
        <a class="form_submit rounded_btn add_to_cart_btn" [routerLink]="['/', 'tellmey']">Create Your Own
          Story</a>
      </div>
    </div>
  </div>
</div>
