@import './_colors';

.result {
  font-family: Apercu;
}

.yourSelection {
  background-image: url('https://files.y.jewelry/assets/img/createYourOwnStory/yourSelection.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Belvue;
  line-height: 2em;
  font-size: 2.5em;
}

.side_panel {
  background-color: $bg-color3;
}

@media only screen and (min-width: 960px) {
  .panel_btns {
    min-width: 20%;
    margin: 0;
    font-family: Belvue;
  }
}

@media only screen and (max-width: 959px) {
  .panel_btns {
    min-width: 90%;
    margin: 0.5em;
    font-family: Belvue;
  }
}

.priceWithoutDiscount {
  text-decoration: line-through;
  color: #aaa;
}

.btn_panel {
  background-color: white;
  min-height: 6em;
  min-width: 100%;
}

.msg {
  text-align: center;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.products {
  padding: 0 1em;
  margin: 1em 0;
}

.product_title {
  text-align: center;
}

.img {
  width: 200px;
  height: auto;
}

@mixin rounded-btn($bgcolor, $txtcolor) {
  background-color: $bgcolor;
  color: $txtcolor;
  height: 38px;
  line-height: 38px;
  width: 100%;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: $bgcolor;
    background-color: $txtcolor;
    text-decoration: none;
  }
}

/* *** Placeholder Color *** */
@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $color;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 1;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  &:placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: $color;
  }
}

.form_actions {
  margin: 35px 0 0;
  text-align: center;

  div {
    .rounded_btn {
      margin-bottom: 20px;

      &.add_to_cart_btn,
      &.resetpass_btn,
      &.signup_btn {
        text-transform: uppercase;
      }

      &.fb_signin_btn,
      &.gg_signin_btn {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 10px;

        .fa {
          display: inline-block;
        }

        .btn_txt {
          /* display: inline-block; */
          display: none;
        }
      }

      &.blue_btn {
        @include rounded-btn($bg-color3, $txt-color1);
        text-transform: uppercase;
      }
    }
  }
}

.white_btn {
  background-color: white;
  color: $txt-color1;
  height: 44px;
  line-height: 38px;
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 1px $txt-color1 solid;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.product_item {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $txt-color1;
  cursor: pointer;

  &:nth-child(odd) {
    clear: left;
  }

  &>div {
    margin-left: auto;
    margin-right: auto;

    .product_img {
      img {
        width: 200px;
      }
    }
  }

  .product_price {
    font-size: 16px;
    margin-top: 8px;
  }
}

.product_item {
  margin-top: 0;
  margin-bottom: 80px;

  .product_img {
    margin-bottom: 40px;
  }
}

/* ***** Sharing section ***** */
.sharing_container {
  text-align: center;
  clear: both;

  .sharing_links {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 5px;
      font-size: 16px;

      a {
        color: $txt-color2;
        display: inline-block;
        width: 38px;
        height: 36px;
        line-height: 26px;
        border: 1px solid $border-color2;
        border-radius: 50%;

        img {
          fill: $txt-color2;
          width: 36px;
          height: 36px;
        }

        &:hover {
          color: $txt-color1;
          border: 1px solid $border-color1;

          img {
            fill: $txt-color1;
          }
        }
      }
    }
  }
}

#yourSelectionText {
  text-align: center;
}

.widthFull {
  width: 100% !important;
}
