<div class="CheckOutContainer" fxLayout="column" fxLayoutAlign="start center">
  <app-checkout-nav></app-checkout-nav>
  <div class="checkoutMainDiv w-100 maxW800" fxFill fxLayout.gt-sm="row" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start start">
    <div class="ShippingAddress mbr20" fxFlex.gt-sm="70" fxFlex="100">
      <app-shipping-address [addresses]="addresses" [shippingAddress]="shippingAddress" *ngIf="!giftCardInCart">
      </app-shipping-address>
      <app-billing-address [addresses]="addresses" [billingAddress]="billingAddress" [useSameAddress]="useSameAddress"
        (useSameSelectedEvent)="useSameSelectedEvent($event)">
      </app-billing-address>
      <app-gift-card-checkout *ngIf="giftCardInCart"></app-gift-card-checkout>
      <div class="hr" fxHide.gt-sm fxShow.sm></div>
      <div class="totalNav" fxHide.gt-sm fxShow.sm>
        <div class="total">TOTAL {{orderTotal.orderTotals.OrderTotal}}</div>
        <button class="btn btn-square-blue" (click)="validateAndContinue()">Proceed to checkout</button>
      </div>
    </div>
    <div class="orderSummary" fxFlex.gt-sm="30" fxFlex="100">
      <div class="mx1em">
        <div class="cardTitle">Order Summary</div>
        <app-order-summary (goPay)="validateAndContinue()"></app-order-summary>
      </div>
    </div>
  </div>
</div>
