.visibilityHidden {
  visibility: hidden;
}

main {
  margin-top: 80px !important;
}
.backTop{
  width: 30px;
  height: 30px;
  bottom: 89px;
  right: 20px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.notificationLogo {
  position: fixed;
  right: 10px;
  bottom: 20px; 
  z-index: 1000;

  &:hover {
    transform: scale(1.3);
  }
}

.whatsAppLogo {
  position: fixed;
  right: 80px;
  bottom: 20px;
  width: 50px;

  a {
    display: block;
  }

  &:hover {
    transform: scale(1.5);
  }
}

.newNotificationNumber {
  // width: 20px;
  // text-align: center;
  // position: absolute;
  // transform: translate(40px, -80px);
  // background: #7C0E0E;
  // border-radius: 50%;
  // color: white;
  width: 13px;
  height: 13px;
  position: absolute;
  transform: translate(26px, -51px);
  font-family: Apercu;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;  
  background: #7C0E0E;
  border-radius: 50%;
}