.lastReviewContainer{
  width: 100%;  
  padding-bottom: 30px;
  background: #BFD1E8;    
  color: #090954;
  cursor: pointer; 
}
.heading{
  text-align: center; 
  padding-top: 20px;
  span{    
      font-family: BelweSansLight;
      font-style: normal;      
      font-size: 30px;  
      line-height: 30px;
      font-weight: 300;      
      margin: 20px 0 20px 0;  
  }
} 
.content-container{
  width: calc(100% - 20px);
  margin: auto;
  text-align: center;
  background-color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border-radius: 10px;
  .h-201{
      height: 201px;
  }
  .content{        
      margin: 0px;
      padding: 20px;
      width: 80vw;
  }
  .rating-start{
      display: flex;
      justify-content: center;
      margin-top: 20px !important;
  }
  .text{          
      margin: 20px auto;
      font-family: BelweSansLight;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #090954;
      margin-left: 10px;
      margin-right: 10px;
   }
  .by{
      font-family: ApercuLight;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #090954;
      padding-bottom: 14px
  }
}

.mat-card{
      padding: 0px !important; 
      border-bottom-right-radius: 10px !important;
      border-bottom-left-radius: 10px !important;
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important; 
}
 
.mr-4{
    margin-right: 4px;
} 
.testimonials{
  text-align: center;  
  font-family: 'ApercuMedium';
  font-style: normal; 
  font-weight: 500;
  font-size: 14px; 
  line-height: 20px;
  margin-top:25px; 
}
.cursor-pointer{
  cursor: pointer;
}
a{
  color: #090954; 
  text-decoration: none;
}  

@media (min-width:960px) {
  .lastReviewContainer{   
    height: 600px;
  }
   
}