<div class="searchContainer" fxLayout="column" fxLayoutAlign="start center">
  <div class="searchinput">
    <mat-form-field class="mat-form" appearance="legacy" floatLabel="never">
      <input (keydown.enter)="searchQuery()" matInput placeholder="search a product" [(ngModel)]="search" />
      <img (click)="searchQuery()" *ngIf="!search" matSuffix class="search1"
        src="https://files.y.jewelry/assets/img/nav/search1.png" width="36" alt="search"  loading="lazy" />
      <img (click)="searchQuery()" *ngIf="search" matSuffix class="search2"
        src="https://files.y.jewelry/assets/img/nav/search2.png" width="36" alt="search"  loading="lazy" />
    </mat-form-field>
  </div>
  <div class="pills-title">Need inspiration? Here are the trending searches:</div>
  <mat-chip-list class="Apercu" aria-label="Fish selection">
    <mat-chip class="b-light-blue" *ngFor="let item of searchTerms" (click)="search = item; searchQuery()">{{ item }}
    </mat-chip>
  </mat-chip-list>
</div>
