.searchContainer {
  position: fixed;
  top: 0px;
  width: 100vw;
  min-height: 150px;
  background: #fcf4f0;
  z-index: 999999;
  padding: 36px 0px;

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 40px !important;
  }

  .mat-form-field-flex {
    background: transparent !important;
  }

  .mat-form-field-infix {
    background: transparent !important;
    border-bottom: 2px solid #090954;
    border-radius: 0px !important;
  }

  .mat-input-element {
    font-family: Belvue;
    color: #090954;
    line-height: 35px;
  }

  .mat-focused {
    .mat-input-element {
      color: #090954 !important;
    }
  }

  .b-light-blue {
    border: 1px solid #bbd1ea !important;
  }

  .pills-title {
    font-family: Apercu;
    font-size: 14px;
    line-height: 20px;
    color: #090954;
    text-align: center;
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 969px) {
  .searchContainer {
    .mat-form {
      font-size: 20px;
      font-family: Belvue;
    }
  }
}

@media only screen and (min-width: 970px) {
  .searchContainer {
    .mat-form {
      font-size: 60px;
      font-family: Belvue;
    }
  }
}

.Apercu {
  font-family: Apercu;
}

.search1,
.search2 {
  width: 40px;
}

:host {
  display: block;
  position: absolute;
  width: 100vw;
  min-height: 350px;
  z-index: 9999;
}
