@import '../_colors';

@mixin rounded-btn($bgcolor, $txtcolor) {
  background-color: $bgcolor;
  color: $txtcolor;
  height: 38px;
  line-height: 38px;
  padding: 0 3.5em;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.polling {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

#polling_btn {
  margin: -19px auto;
  z-index: 9;
}

@media only screen and (min-width: 960px) {
  // styles in 640up.scss
  // .polling{
  //   position: fixed;     
  //   overflow-x: hidden;
  //   z-index: 999;
  //   .btn-back{
  //     top: 30px !important;
  //   }
  //   .progress-bar-div{
  //     top: 20px !important;
  //   }
  // }
  // #polling_btn {
  //   z-index: 9;
  // }
}

#polling_btn {
  @include rounded-btn($bg-color3, $txt-color1);
  text-transform: uppercase;
  font-family: Belvue;
}

.answer_tag {
  color: $white-color;
  font-size: 38px;
  font-family: 'Times New Roman';
  text-align: center;

  &:hover {
    color: $txt-color1;
    text-decoration: none;
  }
}

.create_your_own_btn {
  white-space: nowrap;
}
.line-divider{
  margin: -2px;
  width: 80%;
  background: #FFFFFF;
  height: 4px;
  border-radius: 1px;
  margin-right: auto;
  margin-left: auto;
}
.progress-bar-div{
  width: 100%; 
  position: absolute;
  top: 10px; 
  display: flex;
  justify-content: center;
}
.btn-back{
  position: absolute;
  top: 20px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 999;
}
@media only screen and (min-width: 769px) {
 
}  