.bannersDivContainer { 
    margin-bottom: 40px;
  }
    .cursor{
      cursor: pointer;
    }
   .about-content{ 
    margin: auto;
    width:calc(100% - 20px);
    .main-heading{
      font-family: BelweSansLight;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 30px; 
      text-align: center;
      color: #090954;
      margin-top: 16px;
    }
    .content{
      font-family: 'ApercuLight';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px; 
      text-align: center;
      color: #090954;
    }
  
  }
  .btn {
    background: #090954;
    border-radius: 20px;
    height: 40px;
    border: none;  
    margin: auto;
    margin-bottom: 38px;
  }
  .btn-text { 
    font-family: 'ApercuLight';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;  
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BFD1E8;
    padding: 0 15px 0 15px;
  }  
  .about-content{
    margin-bottom: 32px;
  } 
  .mat-card{
    padding: 0px !important; 
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;  
    text-align: center;
  }
  .mat-card img{
    min-height: 320px;
  }
  .mat-card video{
    min-height: 320px;    
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;  
  }
  .change-ratio img {
    margin: 0;
    width: 100%;  
    object-fit: cover;
  }
  @media only screen and (max-width: 740px) {  
    .change-ratio img {
      margin: 0;
      width: 100%; 
      height: 320px;
      object-fit: cover;
  
    }
    .change-ratio video {
      margin: 0;
      width: 100%; 
      height: 320px;
      object-fit: cover;
  
    }
    .about-content{
      min-height: auto !important;
    }
  } 
  
.aboutPictureContainerMobile {
  scroll-behavior: smooth;
  background: #FEFCFB;
  .mobileImg {
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%); 
     
  }
  .slideimg {
    width: 100%;
    height:100%;
    object-fit: none;
  }
  .learn-moretext{
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; 
    color: #090954;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5%;
  }
 
}
.mr-t-20 {
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mt20{
  margin-top: 20px;
}
@media (min-width:960px) {
  .slideimg{   
    height: 600px;
  }
}