<div class="categoryContainer" fxLayout="column" fxLayoutAlign="start start">
  <ng-container *ngIf="category && category.image">
    <div fxLayout="column" fxLayoutAlign="center center" class="headerImage"
      [ngStyle]="{'background': 'url(' + (category.image.src | changeSrcExtension: '_1920.jpeg') + ') ' + category.imagePosition, 'background-position': category.imagePosition + ' !important'}">
      <h1 class="target">{{category.name}}</h1>
    </div>
  </ng-container>
  <ng-container *ngIf="categorySlug === 'masoomfory'">
    <app-mmxy style="width:100%"></app-mmxy>
  </ng-container>
  <div class="headPanel" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="categorySlug !== 'masoomfory'">
    <div class="minw150">Displaying <b>{{categorySlug !== 'new-in' ? totalProducts : '60'}}</b>
      {{categorySlug === 'new-in' ? 'Items' : category.name}}</div>
    <div *ngIf="filterredList.length>0" class="filterCapsules">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let item of filterredList" [removable]="true"
          (removed)="toggleFilters($event); removeFilter(item)">
          {{item.name || item.attribute_option_name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="categorySlug === 'new-in'"></div>
    <div class="cursorPointer" *ngIf="!showFilters && !showSorts && categorySlug !== 'new-in'"
      (click)="toggleFilters($event)">
      <img src="https://files.y.jewelry/assets/img/home/filter.png" alt="filter" width="10" height="10"> <b> Refine
        Search</b>
    </div>
    <div class="cursorPointer" *ngIf="!showSorts && !showFilters && categorySlug !== 'new-in'"
      (click)="toggleSorts($event)">
      <img src="https://files.y.jewelry/assets/newUI/sortbyIcon.svg" alt="filter" width="10" height="10"><b> Sort</b>
    </div>
    <div class="filters minw150" *ngIf="showFilters" (click)="toggleFilters($event)">
      <span class="clearSelection" (click)="clearSelection()"> Clear selection</span>
      <span class="showProducts" (click)="showProducts()">
        <mat-icon>check</mat-icon>Show products
      </span>
    </div>
    <div class="filters minw150" *ngIf="showSorts" (click)="toggleFilters($event)">
      <span class="showProducts" (click)="closeSortBy()">
        <mat-icon>check</mat-icon><b>Show products</b>
      </span>
    </div>
  </div>
  <div class="headPanel1 w-100" fxLayout="column" fxLayoutAlign="start start" *ngIf="categorySlug !== 'masoomfory'">
    <div class="mobileHeadPanel1 w-100" fxLayout="row" fxLayoutAlign="center center" *ngIf="filterredList.length > 0">
      <mat-chip-list *ngIf="filterredList.length" #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let item of filterredList" [removable]="true"
          (removed)="toggleFilters($event); removeFilter(item)">
          {{item.name || item.attribute_option_name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="mobileHeadPanel i-1 w-100" fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="!showFilters && !showSorts"><b>{{categorySlug !== 'new-in' ? totalProducts : '48'}}</b>
        {{categorySlug === 'new-in' ? 'Items' : category.name}}</div>
      <div class="cursorPointer" *ngIf="!showFilters && !showSorts && categorySlug !== 'new-in'"
        (click)="toggleFilters($event)">
        <img src="https://files.y.jewelry/assets/img/home/filter.png" alt="filter" width="10" height="10"> <b> Refine
          Search</b>
      </div>
      <div class="cursorPointer" *ngIf="!showSorts && !showFilters && categorySlug !== 'new-in'"
        (click)="toggleSorts($event)">
        <img src="https://files.y.jewelry/assets/newUI/sortbyIcon.svg" alt="filter" width="10" height="10"><b> Sort</b>
      </div>
      <div *ngIf="categorySlug === 'new-in'"></div>
      <div fxFlex="50" class="clearSelection text-center" (click)="clearSelection()" *ngIf="showFilters">
        Clear selection
      </div>
      <div fxFlex="50" class="showProducts text-center" (click)="showProducts()" *ngIf="showFilters">
        <mat-icon>check</mat-icon>Show products
      </div>
      <div fxFlex="50" class="text-center" *ngIf="showSorts">
        <div></div>
      </div>
      <div fxFlex="50" class="showProducts text-left" (click)="closeSortBy()" *ngIf="showSorts">
        <mat-icon>check</mat-icon><b>Show products</b>
      </div>
    </div>
  </div>
  <div class="filtersPanel" fxFill *ngIf="showFilters && filtersAvailable && categorySlug !== 'masoomfory'"
    [@enterAnimation]="currentState" infinite-scroll infiniteScrollDistance="0" (clickOutside)="showFilters = false">
    <app-filter #filterComponent [Filters]='filters' [mainCategory]="categoryId" [category]='carouselItems'
      (selectedFilterList)="changeFilters($event)" [categoryPriceRange]="categoryPriceRange"
      (filterSelected)='fetchFilteredProducts($event)' (fetchCount)="loadProductsCount($event)">
    </app-filter>
  </div>
  <div class="filtersPanel1" fxFill *ngIf="showSorts && categorySlug !== 'masoomfory'" [@enterAnimation]="currentState"
    infinite-scroll infiniteScrollDistance="0" (clickOutside)="showSorts = false">
    <app-sorting #sortComponent [selectedValueinput]='sortBy'
      (sortSelectedValueChange)="sortSelectedValueChange($event)"></app-sorting>
  </div>
  <ng-container *ngIf="!(showSorts && categorySlug !== 'masoomfory')">
    <app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb>
    <div class="productsListing" infinite-scroll [alwaysCallback]="true" [infiniteScrollDistance]="scrollDistance"
      (scrolled)="onScrollDown()" fxFill fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
      <app-discount-popup fxFlex="100"></app-discount-popup>
      <div class="empty text-center" *ngIf="!products || (products.length === 0 && !productsGettingLoaded)"
        fxFlex="100">
        No Products
        Found</div>
      <ng-container *ngIf="!showFilters || !showSorts">
        <ng-container *ngFor="let item of products; index as productIndex;last as last;">
          <div fxFlex="50" fxFlex.gt-xs="25" fxLayoutGap="20px" fxFlex.gt-md="15">
            <app-product-list-item-view [product]="{ category_sename: item.category_sename, data: item }"
              [index]="productIndex" [listType]="listType">
            </app-product-list-item-view>
          </div>
          <div *ngIf="(((productIndex+1)%9)==0&&promotional)" fxFlex="50" fxFlex.gt-xs="25" fxLayoutGap="20px"
            fxFlex.gt-md="15">
            <app-Promotional [promotionData]="promotional"></app-Promotional>
          </div>
          <div fxFlex="100" *ngIf="(imageUrl&&((productIndex+1)%11)==0)" class="parallax h100 applyforMobile"
            [style.background]="imageUrl?'url('+imageUrl+')':''">
          </div>
        </ng-container>

      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="productsGettingLoaded" class="CategoryLoaderDiv" fxFill>
    <div class="CategoryLoader bg-logo">
      <svg fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
        <path _ngcontent-ng-cli-universal-c10="" class="ng-tns-c10-1"
          d="M25 0C11.2133 0 0 11.2133 0 25C0 38.7867 11.2133 50 25 50C38.7867 50 50 38.7867 50 25C50 11.2133 38.7867 0 25 0ZM38.8733 5.41L26.6467 31.3267L12.37 4.58333C16.0433 2.3 20.37 0.98 25 0.98C30.1667 0.98 34.9533 2.62667 38.8733 5.41ZM0.98 25C0.98 18.18 3.84 12.02 8.42 7.64667L24.11 36.7167L18.7033 48.18C8.50333 45.4033 0.98 36.0667 0.98 25ZM25 49.02C24.0033 49.02 23.02 48.95 22.0533 48.8333L41.6067 7.67333C46.17 12.05 49.02 18.1967 49.02 25.0033C49.02 38.2433 38.2433 49.02 25 49.02Z"
          fill="#090954"></path>
      </svg>
    </div>
  </div>
  <div class="categoryQuote text-center Belvue paddingX1em" *ngIf="category.description"
    [innerHTML]="category.description"></div>
</div>
<ngx-json-ld [json]="schema"></ngx-json-ld>