@import "./../../../stylesConstants";

.ibizaConatiner {
  width: 100vw;

  >div {
    width: 100%;
  }
}

.cover {
  width: 100%;
  height: 48vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://files.y.jewelry/assets/img/lookbook/1.jpg");

  h1 {
    font-family: Belvue;
    font-size: 72px;
    line-height: 60px;
    color: #090954;
  }
}

.h41 {
  height: 41vh;
  width: auto;
}

.h50 {
  height: 50vh;
  width: auto;
}

.h61 {
  height: 61vh;
  width: auto;
}

.parallax {
  width: 100%;
}

.min50 {
  min-width: calc(50% - 20px);
  max-height: auto;
}

video.h61 {
  max-width: 100%;
}

video.h61,
.image1 {
  height: auto;
}

.image2 {
  height: auto;
  width: 61%;
}

.image3 {
  height: auto;
  width: 77%;
}

.hoverTag2 {
  transform: translate(10px, 10px);
}

.hoverTag {
  transform: translate(-10px, 10px);
}

.hoverTag2,
.hoverTag {
  position: absolute;
  height: 14px;
  width: 14px;

  img {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}

.hoverProducts {
  transform: translate(-50px, 10px);
}

.hoverProducts2 {
  transform: translate(50px, 10px);
}

.hoverProducts2,
.hoverProducts {
  position: absolute;
  transition: width 2s;
  max-width: 320px;

  img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
    background: $background-color-main;
    margin: 0px 5px;
    cursor: pointer;

    &:hover {
      border: 1px solid #bbd1ea;
    }
  }
}

.w100 {
  width: 100%;
}

.insta {
  cursor: pointer;
  border: 20px solid #FFFFFF;
}

.watermark {
  position: relative;
}

.watermark:after {
  content: "";
  display: block;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(https://files.y.jewelry/assets/img/lookbook/instaIcon.svg);
  background-size: 30px 30px;
  margin: 0 0 40px 40px;
  background-position: left bottom;
  background-repeat: no-repeat;
  opacity: 1;
}

.mb40 {
  margin-bottom: 40px;
}

.mr40 {
  margin-right: 40px;
}

.floatRight {
  float: right;
  width: 80%;
  padding: 0 10px;
}

.floatLeft {
  float: left;
  width: 80%;
  padding: 0 10px;
}
@media (min-width:996px){
  .h41{
    min-height: 41vh !important;
  }
  .h61{
    min-height: 61vh !important;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */  
  .parallax{
    background-attachment: scroll !important; 
  }

}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */  
  .parallax{
    background-attachment: fixed !important; 
  }
}