
 <div class="landingContainermobile"  fxLayout="column" fxLayoutAlign="start start">
  <div class="coverDiv" fxLayout="column" fxLayoutAlign="space-between center">
    <div></div>    
    <h1>create your<br />own sets</h1>
    <div fxHide fxShow.gt-sm class="creative-heading">it’s time to be creative!</div>
    
  </div>
  <div class="mainDiv" fxLayout="column" fxLayoutAlign="start center"> 
    <div class="details" fxHide.gt-sm>
      It is time to be creative! Mix & match your favorite products, be creative, and share your style with your friends!
    </div>
    <div class="details" style="max-width: 548px;" fxHide fxShow.gt-sm>
      Choose a bracelet, an anklet, add charms, swtich them, mix & match, have fun, be creative, and share your style with your friends!
    </div> 
   <ng-container *ngIf="!intro">
    <button fxHide.gt-sm        class="btn btn-skyblue mb20" *ngIf="!imageSrc && chains.length === 0" (click)="scrollY(charmsSelectiondivmobile)">start creation</button>
    <button fxHide fxShow.gt-sm class="btn btn-skyblue mb20" *ngIf="!imageSrc && chains.length === 0" (click)="scrollY(charmsSelectiondivDesktop)">start creation</button>   
    <div fxLayout="column" fxLayoutAlign="start start">
      <!----------mobile -->
      <div  class="previewContainer" fxHide.gt-sm>  
        
          <div class="curator-previewContainer" #previewSelection1>
            <mat-card> 
              <mat-card-content> 
                <div class="main-content">                  
                  <div class="previewImage" fxLayout="column" fxLayoutAlign="space-between center">
                    <ng-container *ngIf="imageLoading;else elseimageLoading">
                      <div class="imageLoader">
                          <svg fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 0C11.2133 0 0 11.2133 0 25C0 38.7867 11.2133 50 25 50C38.7867 50 50 38.7867 50 25C50 11.2133 38.7867 0 25 0ZM38.8733 5.41L26.6467 31.3267L12.37 4.58333C16.0433 2.3 20.37 0.98 25 0.98C30.1667 0.98 34.9533 2.62667 38.8733 5.41ZM0.98 25C0.98 18.18 3.84 12.02 8.42 7.64667L24.11 36.7167L18.7033 48.18C8.50333 45.4033 0.98 36.0667 0.98 25ZM25 49.02C24.0033 49.02 23.02 48.95 22.0533 48.8333L41.6067 7.67333C46.17 12.05 49.02 18.1967 49.02 25.0033C49.02 38.2433 38.2433 49.02 25 49.02Z" fill="#090954">
                            </path>
                          </svg> 
                      </div>
                    </ng-container>
                    <ng-template #elseimageLoading>
                      <div class="clearBtnDiv1"  (click)="clear()" *ngIf="charms.length != 0">
                        <svg (click)="clear()" xmlns="http://www.w3.org/2000/svg" width="9" height="11" viewBox="0 0 9 11" fill="none">
                          <g clip-path="url(#clip0)">
                          <path d="M7.6 3.3999C6.9 2.6999 6 2.1999 4.9 2.1999V0.999902C4.9 0.799902 4.8 0.699902 4.6 0.599902C4.5 0.499902 4.3 0.499902 4.2 0.599902L1.7 2.0999C1.5 2.1999 1.4 2.2999 1.4 2.4999C1.4 2.6999 1.5 2.7999 1.6 2.8999L4.1 4.3999C4.3 4.4999 4.4 4.4999 4.4 4.4999C4.5 4.4999 4.6 4.4999 4.6 4.3999C4.8 4.2999 4.9 4.0999 4.9 3.9999V3.1999C5.6 3.2999 6.3 3.5999 6.9 4.0999C7.5 4.6999 7.9 5.5999 7.9 6.4999C7.9 8.3999 6.3 9.9999 4.4 9.9999C3.5 9.9999 2.6 9.6999 2 8.9999C1.3 8.3999 1 7.4999 1 6.5999C1 6.2999 0.8 6.0999 0.5 6.0999C0.2 6.0999 0 6.2999 0 6.5999C0 7.7999 0.4 8.8999 1.3 9.6999C2.1 10.4999 3.2 10.9999 4.4 10.9999C5.6 10.9999 6.7 10.4999 7.5 9.6999C8.3 8.7999 8.9 7.6999 8.9 6.4999C8.9 5.2999 8.5 4.1999 7.6 3.3999Z" fill="#BFD1E8"></path>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="8.9" height="10.5" fill="white" transform="translate(0 0.5)"></rect>
                          </clipPath>
                          </defs>
                          </svg>
                          <span (click)="clear()"> Clear</span> 
                      </div>
                      <div *ngIf="imageSrc">
                        <img [src]="imageSrc" alt="previewImage">
                      </div>
                      <div *ngIf="!imageSrc&&chains&&chains.length===1&&charms.length==0" style="width: 50%;margin: auto;">
                        <div style="text-align: center;cursor:pointer;" class="tab-Heretext" (click)="scrollY(charmsSelectiondivmobile)"> Please Select AtLeast One Charm to Preview Image</div>
                      </div>
                      <div *ngIf="imageSrc">
                        <button class="btn btn-darkblue w100" title="Add to cart" (click)="addToCart()">
                            Add to cart
                        </button>
                      </div>
                      <div *ngIf="!imageSrc&&chains&&chains.length===0&&charms.length==0">
                        <img src="https://files.y.jewelry/assets/img/configurator/2020/chain-blank.jpg" alt="chain-blank">
                        <!-- <p>
                          Create your own set <br />
                          Add charms & Add Bracelet <br />
                          Click <span class="configuratorTextImg"><img src="https://files.y.jewelry/assets/img/configuratorAdd.svg"
                              alt="configuratorAdd" /></span> to add to your creation
                          <br />
                        </p> -->
                      </div>
                      <div class="w100 p1em" fxLayout="column" fxLayoutAlign="center center">
                        <p class="error" *ngIf="error && charms.length != 0">An Error occurred while creating the preview.</p>
                      </div>
                    </ng-template>                   
                  </div> 
                </div>
              </mat-card-content> 
            </mat-card>
          </div> 
          <div class="error mb20" *ngIf="ErrorCheck(chains)">This chain only supports three charms</div>
          <div class="charmsSelection mb20" id="charmsSelectionId" #charmsSelectiondivmobile>
              <mat-card> 
                <mat-card-content> 
                  <div class="main-content">
                      <app-charms-listing [products]="charms" (preview)="isDesktop=false;preview();" (close)="onNoClick()" (clear)="clear()"
                       (OpenCharmsSelectionEvent)="OpenCharmsSelection();scrollY(charmSelectionmobile)"  #charmsListing>
                      </app-charms-listing>
                  </div>
                </mat-card-content> 
              </mat-card>
          </div>
          <div class="curator-charmsselection" [hidden]="!showCharmsSelection" #charmSelectionmobile>
            <mat-card> 
              <mat-card-content> 
                <div class="main-content" id="charm-selection">
                  <div class="title">add a Charm to your creation</div>  
                  <app-category-listing (AddToConfiguratorEvent)="AddToConfiguratorEvent($event);" (CategoryCloseEvent)="showCharmsSelection=false"  [categoryName]="'charms'"></app-category-listing>
                </div>
              </mat-card-content> 
            </mat-card>
          </div>
          <div class="BaseSelection">
            <mat-card> 
            <mat-card-content> 
            <div class="main-content">
              <app-base-listing [products]="chains"
              (OpenChainsPlusClickEvent)="OpenChainsSelection();scrollY(baseSelectionmobile)" (preview)="isDesktop=false;preview();" [selectedId]="selectedChainId" (close)="onNoClick()"
                #baseListing>
              </app-base-listing>
              </div>
              </mat-card-content> 
              </mat-card>
          </div>
          <div class="curator-charmsselection" [hidden]="!showChainsSelection" #baseSelectionmobile>
            <mat-card> 
              <mat-card-content> 
                <div class="main-content"  id="chain-selection">
                  <div class="title">add a Chains to your creation</div>  
                  <app-category-listing (AddToConfiguratorEvent)="AddToConfiguratorEvent($event);" (CategoryCloseEvent)="showChainsSelection=false" [categoryName]="'chains'"></app-category-listing>
                </div>
              </mat-card-content> 
            </mat-card>
          </div>
          <button *ngIf="imageSrc" class="btn btn-darkblue mt20" (click)="OnSaveCreationClick()">Save your creation</button>
          <div class="userCreation" *ngIf="userCreations&&userCreations.length>0">
            <mat-card> 
              <mat-card-content> 
              <div class="main-content"> 
                <h1 class="user-creation-heading">your saved <br>creations</h1>
                <div class="user-creation-listing" fxFill  fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                  <div class="user-creation-item" fxFlex="45" fxLayoutGap="20px" *ngFor="let creation of userCreations;index as productIndex;">
                    <app-userCreation [userCreation]="creation"
                     (OnShareImageEvent)="OnUserCreationShareImageChanged($event);"
                     (OnDownloadEvent)="OnUserCreationDownloadImageChanged($event);"
                     (OnSelectedUserCreationEvent)="OnSelectedUserCreation($event)"
                     (OnRemoveEvent)="OnRemoveCreationChanged($event);"></app-userCreation>
                  </div>
                </div>
                </div>                
                </mat-card-content> 
             </mat-card>
          </div>
       </div> 
       <!---Desktop  -->
      <div  class="previewContainer" fxLayout="row" fxLayoutAlign="start start" fxHide fxShow.gt-sm>  
        <div fxLayout="column" fxLayoutAlign="center center" >
          <div class="curator-previewContainer" #previewSelection1>
            <mat-card> 
              <mat-card-content> 
                <div class="main-content">                  
                  <div class="previewImage" fxLayout="column" fxLayoutAlign="space-between center">
                    <ng-container *ngIf="imageLoading;else elseimageLoading1">
                      <div class="imageLoader">
                          <svg fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 0C11.2133 0 0 11.2133 0 25C0 38.7867 11.2133 50 25 50C38.7867 50 50 38.7867 50 25C50 11.2133 38.7867 0 25 0ZM38.8733 5.41L26.6467 31.3267L12.37 4.58333C16.0433 2.3 20.37 0.98 25 0.98C30.1667 0.98 34.9533 2.62667 38.8733 5.41ZM0.98 25C0.98 18.18 3.84 12.02 8.42 7.64667L24.11 36.7167L18.7033 48.18C8.50333 45.4033 0.98 36.0667 0.98 25ZM25 49.02C24.0033 49.02 23.02 48.95 22.0533 48.8333L41.6067 7.67333C46.17 12.05 49.02 18.1967 49.02 25.0033C49.02 38.2433 38.2433 49.02 25 49.02Z" fill="#090954">
                            </path>
                          </svg> 
                      </div>
                    </ng-container>
                    <ng-template #elseimageLoading1>
                      <div class="clearBtnDiv1"  (click)="clear()" *ngIf="charms.length != 0">
                        <svg (click)="clear()" xmlns="http://www.w3.org/2000/svg" width="9" height="11" viewBox="0 0 9 11" fill="none">
                          <g clip-path="url(#clip0)">
                          <path d="M7.6 3.3999C6.9 2.6999 6 2.1999 4.9 2.1999V0.999902C4.9 0.799902 4.8 0.699902 4.6 0.599902C4.5 0.499902 4.3 0.499902 4.2 0.599902L1.7 2.0999C1.5 2.1999 1.4 2.2999 1.4 2.4999C1.4 2.6999 1.5 2.7999 1.6 2.8999L4.1 4.3999C4.3 4.4999 4.4 4.4999 4.4 4.4999C4.5 4.4999 4.6 4.4999 4.6 4.3999C4.8 4.2999 4.9 4.0999 4.9 3.9999V3.1999C5.6 3.2999 6.3 3.5999 6.9 4.0999C7.5 4.6999 7.9 5.5999 7.9 6.4999C7.9 8.3999 6.3 9.9999 4.4 9.9999C3.5 9.9999 2.6 9.6999 2 8.9999C1.3 8.3999 1 7.4999 1 6.5999C1 6.2999 0.8 6.0999 0.5 6.0999C0.2 6.0999 0 6.2999 0 6.5999C0 7.7999 0.4 8.8999 1.3 9.6999C2.1 10.4999 3.2 10.9999 4.4 10.9999C5.6 10.9999 6.7 10.4999 7.5 9.6999C8.3 8.7999 8.9 7.6999 8.9 6.4999C8.9 5.2999 8.5 4.1999 7.6 3.3999Z" fill="#BFD1E8"></path>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="8.9" height="10.5" fill="white" transform="translate(0 0.5)"></rect>
                          </clipPath>
                          </defs>
                          </svg>
                          <span (click)="clear()"> Clear</span> 
                      </div>
                      <div *ngIf="imageSrc">
                        <img [src]="imageSrc" alt="previewImage">
                      </div>
                      <div *ngIf="!imageSrc&&chains&&chains.length===1&&charms.length==0" style="width: 50%;margin: auto;">
                        <div style="text-align: center; cursor:pointer;" class="tab-Heretext" (click)="scrollY(charmsSelectiondivDesktop)">Please Select AtLeast One Charm to Preview Image</div>
                      </div>
                      <div *ngIf="imageSrc">
                        <button class="btn btn-darkblue w100" title="Add to cart" (click)="addToCart()">
                            Add to cart
                        </button>
                      </div>
                      <div *ngIf="!imageSrc && chains && chains.length===0 && charms.length==0">
                        <img src="https://files.y.jewelry/assets/img/configurator/2020/chain-blank.jpg" alt="chain-blank">
                        <!-- <p>
                          Create your own set <br />
                          Add charms & Add Bracelet <br />
                          Click <span class="configuratorTextImg"><img src="https://files.y.jewelry/assets/img/configuratorAdd.svg"
                              alt="configuratorAdd" /></span> to add to your creation
                          <br />
                        </p> -->
                      </div>
                      <div class="w100 p1em" fxLayout="column" fxLayoutAlign="center center">
                        <p class="error" *ngIf="error && charms.length != 0">An Error occurred while creating the preview.</p>
                      </div>
                    </ng-template>
                  </div> 
                </div>
              </mat-card-content> 
            </mat-card>
          </div> 
          <div class="error mb20" *ngIf="ErrorCheck(chains)">This chain only supports three charms</div>         
          <button *ngIf="imageSrc" class="btn btn-darkblue mt20" (click)="OnSaveCreationClick()">Save your creation</button>
          <div class="userCreation" *ngIf="userCreations&&userCreations.length>0">
            <mat-card> 
              <mat-card-content> 
              <div class="main-content"> 
                <h1 class="user-creation-heading">your saved <br>creations</h1>
                <div class="user-creation-listing" fxFill  fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                  <div class="user-creation-item" fxFlex="45" fxLayoutGap="20px" *ngFor="let creation of userCreations;index as productIndex">
                    <app-userCreation [userCreation]="creation"
                     (OnShareImageEvent)="OnUserCreationShareImageChanged($event);"
                     (OnDownloadEvent)="OnUserCreationDownloadImageChanged($event);"
                     (OnSelectedUserCreationEvent)="OnSelectedUserCreation($event)"
                     (OnRemoveEvent)="OnRemoveCreationChanged($event);"></app-userCreation>
                  </div>
                </div>
                </div>                
                </mat-card-content> 
             </mat-card>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" style="margin-left: 10px;" >
          <div class="charmsSelection mb20" id="charmsSelectionId1" #charmsSelectiondivDesktop>
            <mat-card> 
              <mat-card-content> 
                <div class="main-content">
                    <app-charms-listing [products]="charms" (preview)="isDesktop=true; preview();" (close)="onNoClick()" (clear)="clear()"
                     (OpenCharmsSelectionEvent)="OpenCharmsSelection();scrollY(charmSelectionDesktop)"  #charmsListing1>
                    </app-charms-listing>
                </div>
              </mat-card-content> 
            </mat-card>
        </div>
        <div class="curator-charmsselection" [hidden]="!showCharmsSelection" #charmSelectionDesktop>
          <mat-card> 
            <mat-card-content> 
              <div class="main-content" id="charm-selection">
                <div class="title">add a Charm to your creation</div>  
                <app-category-listing (AddToConfiguratorEvent)="AddToConfiguratorEvent($event);" (CategoryCloseEvent)="showCharmsSelection=false"  [categoryName]="'charms'"></app-category-listing>
              </div>
            </mat-card-content> 
          </mat-card>
        </div>
        <div class="BaseSelection">
          <mat-card> 
          <mat-card-content> 
          <div class="main-content">
            <app-base-listing [products]="chains"
            (OpenChainsPlusClickEvent)="OpenChainsSelection();scrollY(baseSelectionDesktop)" (preview)="isDesktop=true; preview();" [selectedId]="selectedChainId" (close)="onNoClick()"
              #baseListing1>
            </app-base-listing>
            </div>
            </mat-card-content> 
            </mat-card>
        </div>
        <div class="curator-charmsselection" [hidden]="!showChainsSelection" #baseSelectionDesktop>
          <mat-card> 
            <mat-card-content> 
              <div class="main-content"  id="chain-selection">
                <div class="title">add a Chains to your creation</div>  
                <app-category-listing (AddToConfiguratorEvent)="AddToConfiguratorEvent($event);" (CategoryCloseEvent)="showChainsSelection=false" [categoryName]="'chains'"></app-category-listing>
              </div>
            </mat-card-content> 
          </mat-card>
        </div>
      
      </div>          
       </div> 
    </div>
    <div class="loaderY bg-logo" *ngIf="previewLoading">
    </div>
   </ng-container>
  </div>
</div>