<div fxLayout="column" fxLayoutAlign="start start" id="productList">
    <ng-container *ngFor="let item of products">
        <div class="w100" fxLayout="row" fxLayoutAlign="space-between start">
            <div> 
                <a [routerLink]="['/', item.se_name]"><img class="cursorPointer lazy mb-6"
                    [src]="item.images[0].src | changeSrcExtension: '_100.jpeg'" [alt]="item.images[0].alt"
                    [title]="item.images[0].title" width="200" height="200" /></a>
            </div>
            <div class="details" fxFill fxLayout="row" fxLayoutAlign="space-between start">
                <div class="productName"><a [routerLink]="['/', item.se_name]">{{item.name}}</a></div>
                <div class="product_price nowrap text-center" *ngIf="item && item.available_for_pre_order">
                    {{item.price_model.price}}</div>
                <div class="product_price nowrap text-center" *ngIf="item && !item.available_for_pre_order">
                    <span
                    [ngClass]="{'priceWithoutDiscount': item.price_model.price_with_discount}">{{item.price_model.price}}</span><br />
                    {{item.price_model.price_with_discount}}
                </div>
            </div>
        </div>
    </ng-container>
</div>