<div class="returnContainer" fxLayout="column" fxLayoutAlign="start start">

  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <ng-container *ngIf="step === 2">
        <img (click)="step = 1" class="card-image"
          src="https://files.y.jewelry/assets/img/profile/orderDetails/less.png" alt="credits" />
      </ng-container>
      <ng-container *ngIf="step !== 2">
        <img [routerLink]="[backUrl]" class="card-image"
          src="https://files.y.jewelry/assets/img/profile/orderDetails/less.png" alt="credits" />
      </ng-container>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="card-heading">Order #{{returnrequest.orderId}} · return or replace</div>
        </div>
        <div *ngIf="step===1" class="w-100 card-body">
          <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && PreviewReturnRequest()">
            <div class="error text-left" *ngIf="iserror && error">
                {{error}}
            </div>
            <div class="text-left heading">
              Please select the product(s) you would like to
              return and share the reason below:
            </div>
            <label class="fancy-checkbox">
              <input type="checkbox" [(ngModel)]="isAllSelected" class="check-all" name="check-all"
                (change)="SelectAll($event.target.checked)" id="checkall" />
              <span class="checked-Icon checked float-l">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path
                    d="M10.1 8L15.05 3.05C15.65 2.45 15.65 1.55 15.05 0.95C14.45 0.35 13.55 0.35 12.95 0.95L8 5.9L3.05 0.95C2.45 0.35 1.55 0.35 0.95 0.95C0.35 1.55 0.35 2.45 0.95 3.05L5.9 8L0.95 12.95C0.35 13.55 0.35 14.45 0.95 15.05C1.25 15.35 1.55 15.5 2 15.5C2.45 15.5 2.75 15.35 3.05 15.05L8 10.1L12.95 15.05C13.25 15.35 13.55 15.5 14 15.5C14.45 15.5 14.75 15.35 15.05 15.05C15.65 14.45 15.65 13.55 15.05 12.95L10.1 8Z"
                    fill="#090954" />
                </svg>
              </span>
              <span class="unchecked unchecked-Icon float-l">
              </span>
              <span class="text float-l ml-12">Select all the products</span>
            </label>

            <div *ngFor="let orderitem of orderitems;index as i" fxLayout="row" fxLayoutAlign="start start"
              style="clear: both;">
              <div class="checkbox">
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                  <label class="fancy-checkbox">
                    <input type="checkbox" name="pro_{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}"
                      [ngModel]='orderitem.IsSelected'
                      (change)="SelectedEachCheckBox(orderitem.orderItem.id,orderitem.quantityIndex,$event.target.checked)"
                      [disabled]="!orderitem.isReturnAble"
                      id="pro_{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}" />
                    <span class="checked-Icon checked">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M10.1 8L15.05 3.05C15.65 2.45 15.65 1.55 15.05 0.95C14.45 0.35 13.55 0.35 12.95 0.95L8 5.9L3.05 0.95C2.45 0.35 1.55 0.35 0.95 0.95C0.35 1.55 0.35 2.45 0.95 3.05L5.9 8L0.95 12.95C0.35 13.55 0.35 14.45 0.95 15.05C1.25 15.35 1.55 15.5 2 15.5C2.45 15.5 2.75 15.35 3.05 15.05L8 10.1L12.95 15.05C13.25 15.35 13.55 15.5 14 15.5C14.45 15.5 14.75 15.35 15.05 15.05C15.65 14.45 15.65 13.55 15.05 12.95L10.1 8Z"
                          fill="#090954" />
                      </svg>
                    </span>
                    <span class="unchecked unchecked-Icon">
                    </span>
                  </label>

                </div>
              </div>
              <div class="w-100 mr10">
                <div class="productContiner productContiner-border-{{orderitem.IsSelected}}">
                  <div fxLayout="row" class="product d-flex border-buttom-{{orderitem.IsSelected}}">
                    <div>
                      <img class="img2" src="{{orderitem.orderItem.product.images[0].src}}"
                        alt="{{orderitem.orderItem.product.images[0].alt}}">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-between start"
                      class="product-ref border-pink-{{orderitem.IsSelected}}">
                      <span class="product-name">{{orderitem.orderItem.product.name}}</span>
                      <span class="product-sku blue-text">Ref. {{orderitem.orderItem.product.sku}} </span>
                    </div>
                  </div>

                  <div
                    *ngIf="(orderitem.IsSelected&&orderitem.showfold==1)||(orderitem.IsSelected&&orderitem.selectedAction)">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                      <mat-form-field class="returnRequestAction">
                        <mat-label class="input-label" *ngIf="!orderitem.selectedAction">Please choose a Action
                        </mat-label>
                        <mat-select name="returnRequestAction-{{i}}" [(ngModel)]="orderitem.selectedAction"
                          (selectionChange)="orderitem.showfold=2;" required="true">
                          <mat-option *ngFor="let action of returnrequest.ReturnRequestAction" [value]="action">
                            {{action.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div
                    *ngIf="(orderitem.IsSelected&&orderitem.showfold===2)||(orderitem.IsSelected&&orderitem.selectedReason)">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                      <mat-form-field class="returnRequestReason">
                        <mat-label class="input-label" *ngIf="!orderitem.selectedReason">Please choose a Reason
                        </mat-label>
                        <mat-select name="returnRequestReason-{{i}}" [(ngModel)]="orderitem.selectedReason"
                          (selectionChange)="OnStatusReasonChanged(orderitem);" required="true">
                          <ng-container *ngFor="let reason of returnrequest.ReturnRequestReason">
                            <ng-container *ngIf="orderitem.IsBrecelet">
                              <mat-option [value]="reason">
                                {{reason.Name}}
                              </mat-option>
                            </ng-container>
                            <ng-container *ngIf="!orderitem.IsBrecelet">
                              <mat-option *ngIf="(reason.Name!=='Size is not Ok')" [value]="reason">
                                {{reason.Name}}
                              </mat-option>
                            </ng-container>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="orderitem.IsSelected&& 
                  orderitem.selectedReason?.Name==='Size is not Ok'">
                    <ng-container *ngFor="let attr of orderitem.orderItem.product.attributes; index as attrIndex">
                      <div
                        *ngIf="attr.attribute_control_type_name === 'DropdownList' && attr.product_attribute_name.indexOf('Size')>-1"
                        fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                        <mat-form-field class="returnRequestReason">
                          <mat-label class="input-label" *ngIf="(orderitem.newSize===null)">Select a new size
                          </mat-label>
                          <mat-select name="newSize-{{i}}" [(ngModel)]="orderitem.newSize"
                          (selectionChange)="orderitem.showfold=3;">
                            <mat-option *ngFor="let item of attr.attribute_values" [value]="item.name">{{item.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </ng-container>
                  </div>
                  <div
                    *ngIf="(orderitem.IsSelected && orderitem.showfold===3)||(orderitem.IsSelected&&orderitem.fileUploadId)">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                      <div *ngIf="!orderitem.isFileUploading" class="upload-div w-100" for="picture">
                        <div class="left">
                          <label for="picture-{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"
                              fill="none">
                              <path
                                d="M16.9 9.1L14.9 7.1C14.8 7.1 14.7 7 14.6 7C14.6 7 14.6 7 14.5 7C14.4 7 14.3 7 14.2 7C14.1 7 14.1 7.1 14 7.1L12 9.1C11.8 9.3 11.8 9.6 12 9.8C12.1 9.9 12.2 9.9 12.4 9.9C12.6 9.9 12.7 9.9 12.8 9.8L14 8.7V12.5C14 12.8 14.2 13 14.5 13C14.8 13 15 12.8 15 12.5V8.7L16.1 9.8C16.3 10 16.6 10 16.8 9.8C17 9.6 17 9.3 16.9 9.1Z"
                                fill="#090954" />
                              <path
                                d="M8.2 5.9C7.9 5.5 7.5 5.3 7 5.3C6.5 5.3 6.1 5.5 5.8 5.8L2.1 10.2C1.9 10.4 1.9 10.7 2.2 10.9C2.4 11.1 2.7 11.1 2.9 10.8L6.6 6.4C6.7 6.4 6.8 6.3 7 6.3C7.2 6.3 7.3 6.4 7.4 6.5L10.9 11.2C11 11.4 11 11.6 10.9 11.7C10.8 11.9 10.6 12 10.5 12H1.5C1.2 12 1 11.8 1 11.5V1.5C1 1.2 1.2 1 1.5 1H13.5C13.8 1 14 1.2 14 1.5V5.5C14 5.8 14.2 6 14.5 6C14.8 6 15 5.8 15 5.5V1.5C15 0.7 14.3 0 13.5 0H1.5C0.7 0 0 0.7 0 1.5V11.5C0 12.3 0.7 13 1.5 13H10.5C11.1 13 11.6 12.7 11.8 12.2C12.1 11.7 12 11.1 11.7 10.6L8.2 5.9Z"
                                fill="#090954" />
                              <path
                                d="M9 4C9 5.1 9.9 6 11 6C12.1 6 13 5.1 13 4C13 2.9 12.1 2 11 2C9.9 2 9 2.9 9 4ZM12 4C12 4.6 11.6 5 11 5C10.4 5 10 4.6 10 4C10 3.4 10.4 3 11 3C11.6 3 12 3.4 12 4Z"
                                fill="#090954" />
                            </svg>
                          </label>
                          <input (change)="handleFileInput($event.target.files,orderitem)" #Image type="file"
                            class="picture" id="picture-{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}">
                        </div>
                        <label for="picture-{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}"
                          *ngIf="orderitem.UploadText.length>40" class="rigth">
                          <span
                            [innerText]="orderitem.UploadText|uploadTextLimit"></span>
                        </label>
                        <label for="picture-{{returnrequest.orderId}}_{{orderitem.orderItem.id}}_{{i}}"
                          *ngIf="orderitem.UploadText.length<=40" class="rigth">
                          <span [innerText]="orderitem.UploadText"
                            [style.color]="orderitem.UploadText==='Please add a picture'?'#BFD1E8':'#090954'"></span>
                        </label>
                      </div>
                      <div class="upload-div w-100" *ngIf="orderitem.isFileUploading">
                        <div class="small-loader">                                                   
                        </div>  
                        <div class="small-loader-text">
                          Uploading                         
                        </div>
                       <div>
                       </div>                       
                      </div>
                      <!-- <div class="upload-div w-100 updateimagetext" *ngIf="orderitem.fileUploadId&&!orderitem.isFileUploading">
                         Uploaded Successfully                                
                      </div> -->
                      <div class="upload-div updateimagetext w-100" *ngIf="orderitem.message">{{orderitem.message}}</div>

                      <div class="error upload-div w-100" *ngIf="orderitem.error">{{orderitem.error}}</div>
                    </div>
                  </div>
                  <div *ngIf="(orderitem.IsSelected&&orderitem.showfold===4)||(orderitem.IsSelected&&orderitem.comment)">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                      <mat-form-field class="returnRequestComments border-buttom-false w-100">
                        <mat-label class="input-label">Comments</mat-label>
                        <textarea matInput name="comments-{{i}}" [(ngModel)]="orderitem.comment"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <a *ngIf="orderitem.IsSelected && orderitem.selectedReason?.Name==='Size is not Ok'"
                 class="size-guid"
                 [href]="baseUrl+'/info/sizeguide'"
                 target="_blank"
                  >Check  our Size guide</a>
              </div>
            </div>
            <div class="d-flex justify-content-center mtr-2010">
              <button type="submit" class="btn btn-blue">Schedule return</button>
            </div>
          </form>
        </div>
        <div *ngIf="step===2" class="w-100 card-body">
          <div *ngIf="error && iserror" class="error-message">
            {{error}}
          </div>
          <div class="text-left thankyoutext">
            Thank you. Upon receipt of your product and validation by our team, <br />
            you will be charged a fee of ₹{{returnAmountChange}}.
          </div>
          <div class="return-summary">
            Request summary
          </div>
          <table mat-table [dataSource]="dataSource" class="w-100 px1em">
            <ng-container matColumnDef="image" class="borderNone">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let item">                
                <div class="tablecellCustom" fxLayout="column" fxLayoutAlign="space-around start">
                  <img style="height: 100px;width: 100px;
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;" [src]="item.orderItem.product.images[0].src"
                    [alt]="item.orderItem.product.images[0].alt" />
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell *matCellDef="let element" class="productNameDiv">
                <div fxLayout="column" fxLayoutAlign="start start" class="tablecellCustom detail-container">
                  <div class="productName cursorPointer">
                    <span>{{element.orderItem.product.name}}</span>
                  </div>
                  <div class="text-reason">Reason: <span class="text">{{element.selectedReason.Name}}</span></div>
                  <!-- <div  class="text-picture">Action: <span class="text">{{element.selectedAction.Name}}</span></div> -->
                  <div class="text-picture" *ngIf="element.selectedReason?.Name==='Size is not Ok' && element.newSize">
                    New size chosen: <span class="text">{{element.newSize}}</span>
                  </div>
                  <div class="text-picture"
                    *ngIf="element.UploadText===element.intialUploadText&&!(element.selectedReason?.Name==='Size is not Ok')">
                    Picture: <span class="text">You didn’t join any picture</span></div>
                  <div class="text-picture"
                    *ngIf="element.UploadText!==element.intialUploadText&&!(element.selectedReason?.Name==='Size is not Ok')">
                    Picture: <span class="text">{{element.UploadText}}</span></div>
                </div>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnstwo"></tr>
            <tr mat-row class="mat-elevation-z0 mat-tr" *matRowDef="let row; columns: displayedColumnstwo;"></tr>
          </table>
          <div class="d-flex justify-content-center mr-t-20">
            <button (click)="SubmitReturnRequest()" class="btn btn-blue mb-10 mt-10">Confirm Return</button>
          </div>
        </div>
        <div *ngIf="step===3" class="w-100 card-body">
          <div *ngIf="error &&iserror" class="error-message">
            {{error}}
          </div>
          <div class="text-center">
            <div class="title w-100 text-center" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="isSuccessscreen">
                <div>
                  <img alt="ok" height="45" src="https://files.y.jewelry/assets/img/community-chain/ok.svg" title="ok"
                    width="45">
                </div>
                <span>
                  Your Request has Sent Successfully to Y</span>
                <div class="uppercase">Thank you!</div>
                <a [routerLink]="['/']">Continue Shopping</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="step===4" class="w-100 card-body">
          <div *ngIf="error && iserror" class="error-message">
            {{error}}
          </div>
          <div class="text-left thankyoutext">
            {{returnrequest.status}}
          </div>
          <div class="return-summary">
            return summary
          </div>
          <table mat-table [dataSource]="dataSource" class="w-100 px1em">            
            <ng-container matColumnDef="image" class="borderNone">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let item">
                <div class="tablecellCustom" fxLayout="column" fxLayoutAlign="space-around start">
                  <img style="height: 100px;width: 100px;
                              border-top-left-radius: 5px;
                              border-bottom-left-radius: 5px;"
                    [src]="item.orderItem.product.images[0].src"
                    [alt]="item.orderItem.product.images[0].alt" />
                </div>
                <!-- <img style="height: 100px;width: 100px;" [src]="item.orderItem.product.images[0].src"
                  [alt]="item.orderItem.product.images[0].alt" /> -->
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell *matCellDef="let element" class="productNameDiv">
                <div fxLayout="column" fxLayoutAlign="start start" class="tablecellCustom detail-container">
                  <div class="productName cursorPointer">
                    <span>{{element.orderItem.product.name}}</span>
                  </div>
                  <div class="text-reason">Reason: <span class="text">{{element.selectedReason.Name}}</span></div>
                  <div class="text-picture" *ngIf="element.selectedReason?.Name==='Size is not Ok' && element.newSize">
                    New size chosen: <span class="text">{{element.newSize}}</span>
                  </div>
                  <div class="text-picture"
                    *ngIf="element.UploadText===element.intialUploadText&&!(element.selectedReason?.Name==='Size is not Ok')">
                    Picture: <span class="text">You didn’t join any picture</span></div>
                  <div class="text-picture"
                    *ngIf="element.UploadText&&element.UploadText!==element.intialUploadText&&!(element.selectedReason?.Name==='Size is not Ok')">
                    Picture: <span class="text">{{element.UploadText | slice:0:30}}</span></div>
                </div> 
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnstwo"></tr>
            <tr mat-row class="mat-elevation-z0 mat-tr" *matRowDef="let row; columns: displayedColumnstwo;"></tr>
        
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnstwo"></tr>
            <tr mat-row class="mat-elevation-z0 mat-tr" *matRowDef="let row; columns: displayedColumnstwo;"></tr> -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>