@import '../../../stylesConstants.scss';

.sortContainer { 
  background-color: #ffffff;
  border-top: 1px solid #BFD1E8;

  .sort-by{
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: BelweSansLight;
  letter-spacing: 0.1em;
  }
}
.label {
  margin: 0 0 0 2em;
  top: -2px;
  position: absolute;
  font-family: Apercu;
}
.label2 {
  margin: 0 0 0 4.7em;
  top: -2px;
  position: absolute;
  font-family: Apercu;
}
.sortFlexDIV1 {
  font-family: Belvue;
  font-size: 14px;
  line-height: 50px;
   text-transform: uppercase;   
  // height: 956px; 
}
 
.sort-radio-group{
  .sort-radio-button{
    padding: 0px 0px 0px 15px;
    display: block;
  }
}
.w-100 {
  width: 100%;
}

.bg-light-blue {
  background: #BFD1E8;
}

.b-light-blue {
  border-bottom: 1px solid #BFD1E8; 
}

.b-light-blue:last-child {
  border-bottom: none !important;
}


.mx-11 {
  margin: 11px auto !important;
}

.btn {
  font-size: 14px;
  transform: translateX(-8px);
  height: 38px;
  line-height: 38px;
  width: 200px;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-family: BelweSansLight;
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
}
.text-center {
  text-align: center;
}
 .mat-radio-button {
   margin-right: 0px; 
}
::ng-deep .mat-radio-inner-circle { 
  background: #090954  !important; 
  box-sizing: border-box;
}
::ng-deep .mat-radio-outer-circle { 
   background: #FBF4F1;
   border: 1px solid #BFD1E8;
   box-sizing: border-box;
   border-width: 1px !important
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #090954 !important;
  background: #FFFFFF !important;
}

::ng-deep .mat-radio-label{
  font-family: BelweSansLight;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 50px; 
  letter-spacing: 0.1em;
  text-transform: uppercase; 
  color: #090954;
}
 .mat-radio-label-content{
  font-family: BelweSansLight !important;
}
