@import '../../../stylesConstants.scss';

.OrderConfirmationContainer {
  color: #090954;
  padding: 1em 0;
  min-height: 50vh;
  max-width: 1200px;
  margin: auto;
}

.loaderY {
  margin: auto;
  background-repeat: no-repeat;
  position: fixed;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
  background-size: contain;
  animation: playloader 1.96s infinite;
  z-index: 99999;
}

@keyframes playloader {
  to {
    transform: rotateY(1turn);
  }
}

.title {
  font-family: Belvue;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 29px 0 16px 0;
}

.details {
  font-family: ApercuLight;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  max-width: 580px;
  margin: 0 11px 16px 11px;
}

.btn {
  height: 38px;
  line-height: 38px;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: BelweSansLight;
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
  margin: 2em 1em;
}

.inputReview {
  margin-bottom: 20px;
}

.rating {
  margin-bottom: 26px;

  img {
    height: 40px;
  }
}

.w-300 {
  min-width: 300px;
  margin: 0px !important;
}
