.example-list {
  width: 1000px;
  max-width: 100%;
  background: white;
  border-radius: 5px;
  height: 138px;
  max-height: 150px;
  overflow-x: auto;
  overflow: hidden;

  >div {
    width: 100%;
  }
}

.example-box {
  padding: 20px 10px;
  display: flex;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.delete-arrow{
  position: absolute;
  top: 10px;
}
.example-box:last-child {
  border: none;
}

.listItem {
  width: 100%;
}

.pointer {
  cursor: pointer;
}


.list-img {
  img {
    width: 69px;
    border: 1px solid rgba(191,209,232,0.25);
    box-sizing: border-box;
    border-radius: 33px;
  }
}
.selected {
  border: 1px solid #090954  !important;
}



.title {
  font-family: Apercu;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
  text-align: left;
}
.displayNone{
  display: none;
}
.tab-Heretext {
  font-size: 12px;
  line-height: 12px;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BFD1E8;
}
.w1000 {
  width: 1000px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  overflow-x: scroll;
}