.productConatiner{
  position: relative;
.navs {
    text-transform: capitalize;
    font-family: ApercuLight;
    border-radius: 20px;
    background: #FFFFFF; 
    overflow: hidden;
    // overflow-x: visible;
    height: 30px; 
    position: relative; 
    border: 1px solid rgba(191, 209, 232, 0.5);
    box-sizing: border-box; 
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 21px;
    div { 
      cursor: pointer;
      white-space: nowrap; 
      font-family: 'ApercuLight';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 0px 10px 0px 10px;
      color: #BFD1E8;
    } 
     .btn{
      font-family: Apercu;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase; 
      border: none;
      background: transparent;
     }
  
    .active {
      background-color: #BFD1E8;
      border-radius: 20px;
      color: #090954;
    }
    .inactive{
        background-color: #FFFFFF;
        color: #BFD1E8;

    }
    .left{
      position: sticky;
      left: 0px;
      padding: 0px !important; 
    }
    .rigth{
      position: sticky;
      right: 0px;      
      padding: 0px !important;
    }
  }
  .navs::-webkit-scrollbar{
     height: 0px;
     width: 0px;
   }
   .SizeAttributeConatiner{      
     h1{
      font-family: ApercuLight;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;       
      text-align: center;       
      color: #090954;
     }
     .back-choice{
      font-family: ApercuLight;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;       
      color: #BFD1E8;
      margin-bottom: 17px;
      margin-top: 17px;
     }
   }
   .mr20{
     margin-right: 20px;
   }
}

.loaderY {
  margin: auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: playloader 1.96s infinite;
  z-index: 99999;
}

@keyframes playloader {
  to {
    transform: rotateY(1turn);
  }
}