<pinch-zoom [disableZoomControl]="'disable'" [limit-zoom]="900">
  <div style="background-color: #fcf4f0 !important;">
    <div class="w100"
    style="margin-bottom: -35px; padding-right: 10px; padding-top: 10px; position: absolute; z-index: 999999999999999999; top: 90px; right: 10px;"
    fxLayout="row" fxLayoutAlign="space-between start">
    <div></div>
    <div>
      <img class="cursorPointer" (click)="onNoClick()"
        src="https://files.y.jewelry/assets/img/configurator/closeIcon.svg" width="20" height="20" alt="close" />
    </div>
  </div>
  <picture>
    <source [srcset]="data.url | changeSrcExtension: '_500.webp'" type="image/webp">
    <source [srcset]="data.url | changeSrcExtension: '_500.png'">
    <img itemprop="image" class="ProductThumbImageOnDetailMobilePage" style="width: 100vw; height: 100vh; object-fit: cover;" 
    [src]="data.url" alt="" />
  </picture> 
  </div>
  
</pinch-zoom>
