<div class="productView" *ngIf="!isCoverImg" [ngClass]="{'opacityLow': sizeSelector}">
  <div class="image">
    <div class="banner" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="h100">
        <img class="bannerImg" *ngIf="sticker" src="https://files.y.jewelry/assets/img/sticker.svg" alt="banner">
      </div>
    </div>
    <a [routerLink]="['/', product.category_sename, product.data.se_name]"
      (click)="sendGTMData(product.data, product.category_sename)">
      <div class="imgDiv">
        <picture>
          <source media="(min-width: 650px)" [srcset]="product.data.images[0].src | changeSrcExtension: '_180.webp'"
            type="image/webp">
          <source media="(min-width: 300px)" [srcset]="product.data.images[0].src | changeSrcExtension: '_250.webp'"
            type="image/webp">
          <source media="(min-width: 650px)" [srcset]="product.data.images[0].src | changeSrcExtension: '_180.jpeg'"
            type="image/jpeg">
          <source media="(min-width: 300px)" [srcset]="product.data.images[0].src | changeSrcExtension: '_250.jpeg'"
            type="image/jpeg">
          <img [src]="product.data.images[0].src" [alt]="product.data.images[0].alt"
           width="200" height="200" loading="lazy"
            class="lazy" />
        </picture>
      </div>
    </a>
  </div>
  <div class="title-price">

  <div class="product_title" *ngIf="product.data"><a [routerLink]="['/', product.category_sename, product.data.se_name]"
      (click)="sendGTMData(product.data, product.category_sename)">{{product.data.name}}</a></div>
  <ng-container>
    <div class="product_price" *ngIf="product.data && product.data.available_for_pre_order">
      {{product.data.price_model.price}}</div>
    <div class="product_price" *ngIf="product.data && !product.data.available_for_pre_order"><span
        [ngClass]="{'priceWithoutDiscount': product.data.price_model.price_with_discount}">{{product.data.price_model.price}}</span>
      {{product.data.price_model.price_with_discount}}
    </div>
  </ng-container>
  
</div>
  <ng-container *ngIf="!IsShowHome">
    <div class="overlay" *ngIf="isConfigurable">
      <div class="configurator" (click)="addToConfigurator()" *ngIf="isConfigurable">
        <img src="https://files.y.jewelry/assets/img/home/curator.png" alt="curator">
      </div>
      <div class="addToCart" (click)="addToCart($event)">
        <img src="https://files.y.jewelry/assets/img/home/addToCart.png" alt="addTopCart">
      </div>
    </div>
    <div class="overlay" *ngIf="!isConfigurable">
      <div class="addToCart2" (click)="addToCart($event)">
        <img src="https://files.y.jewelry/assets/img/home/addToCart.png" alt="addTopCart">
      </div>
    </div>
</ng-container>
</div>
<div class="productView" *ngIf="isCoverImg" [ngClass]="{'opacityLow': sizeSelector}">
  <div class="image">
    <div class="banner" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="h100">
        <img class="bannerImg" *ngIf="sticker" src="https://files.y.jewelry/assets/img/sticker.svg" alt="banner">
      </div>
    </div>
    <a [routerLink]="['/', CoverImg.alt]">
      <div class="imgDiv">
        <picture>
          <source media="(min-width: 650px)" [srcset]="CoverImg.src | changeSrcExtension: '_180.webp'"
            type="image/webp">
          <source media="(min-width: 300px)" [srcset]="CoverImg.src | changeSrcExtension: '_250.webp'"
            type="image/webp">
          <source media="(min-width: 650px)" [srcset]="CoverImg.src | changeSrcExtension: '_180.jpeg'"
            type="image/jpeg">
          <source media="(min-width: 300px)" [srcset]="CoverImg.src | changeSrcExtension: '_250.jpeg'"
            type="image/jpeg">
          <img [src]="CoverImg.src" [alt]="CoverImg.alt" width="200" height="200"
            class="lazy"  loading="lazy" />
        </picture>
      </div>
    </a>
  </div> 
</div>
<div class="addedToBag" [ngClass]="{active : showAddedToBag == true}" *ngIf="showAddedToBag">
  <div class="icon">
    <img [src]="symbolMsg" alt="Success icon" width="40" height="" />
  </div>
  <p>{{addToCartReply}}</p>
</div>
<div class="SizeSelector" *ngIf="sizeSelector" (clickOutside)="sizeSelectorClose()">
  <ng-container *ngFor="let attr of product.data.attributes; index as attrIndex">
    <ng-container *ngIf="attr.product_attribute_name === 'Size in cm'">
      <div class="sizeContainer mobileSize" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
        <div class="sizeTitle" fxLayout="row" fxLayoutAlign="space-between start">
          <div>Select size(cm):</div>
          <div class="cursorPointer underline" [routerLink]="['/info', 'sizeguide']">SIZE GUIDE</div>
        </div>
        <ng-container *ngFor="let item of attr.attribute_values; index as attrValueIndex">
          <div class="sizeBubble" (click)="attr.attributeInputSelected = item; selectSimpleAttrValue()">
            {{item.name}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
