 <div class="orderDetailsContainer" fxLayout="column" fxLayoutAlign="start start">   
  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <img class="card-image" src="https://files.y.jewelry/assets/img/profile/orderDetails/order_status.png" alt="order_status" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="card-heading">order status</div>
        </div>
        <div class="w-100 card-body">
          <div class="headings mr20" fxLayout="row" fxLayoutAlign="start start">
            <div class="col1"> </div>
            <div class="col2"> </div> 
          </div>
          <div class="data mr20 border-left-{{status?.isactive}}" fxLayout="row" fxLayoutAlign="space-between start"
            *ngFor="let status of orderStatus">
            <div class="col1 color-{{status?.isactive}}"> 
              <!-------------------------------------Indicator Icon---------------------------->
              <!------Checked Icon-------->
              <svg *ngIf="status?.isactive" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M5 0C2.2 0 0 2.2 0 5C0 7.8 2.2 10 5 10C7.8 10 10 7.8 10 5C10 2.2 7.8 0 5 0ZM7.6 3.5L4.6 7.5L2.4 5.3C2.2 5.1 2.2 4.8 2.4 4.6C2.6 4.4 2.9 4.4 3.1 4.6L4.4 5.9L6.7 2.8C6.9 2.6 7.2 2.5 7.4 2.7C7.7 2.9 7.7 3.2 7.6 3.5Z" fill="#090954"/>
              </svg>
              <!----------Circle Blue Icon-------->
              <svg *ngIf="!status?.isactive" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M0.5 5C0.5 2.47614 2.47614 0.5 5 0.5C7.52386 0.5 9.5 2.47614 9.5 5C9.5 7.52386 7.52386 9.5 5 9.5C2.47614 9.5 0.5 7.52386 0.5 5Z" fill="white" stroke="#BFD1E8"/>
              </svg>
              <!------------------X-------------------Indicator Icon----------X------------------>
               
              {{status?.orderstatus  }}</div>
            <div class="col2">
              <span *ngIf="status.isactive" class="date-text">On {{ status?.date  | date : 'MMMM' }}{{ status?.date  | date : 'd' }}th, {{ status?.date  | date : 'h' }}{{ status?.date  | date : 'a' | lowercase }}
              </span>
            </div> 
          </div>
          
          <div class="underline"> 
            <span *ngIf="order.shipping_status === 'Shipped' && order.shipping_status !== 'Delivered'" (click)="track(order.id)">
              Track Shipment
            </span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardDiv w-100" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="card" fxLayout="row" fxLayoutAlign="start start">
      <img  [routerLink]="['/account/orders']" class="card-image" src="https://files.y.jewelry/assets/img/profile/orderDetails/less.png" alt="profile" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start"> 
          <div class="card-heading link cursorPointer">
            Order #{{order.id}}
          </div>
          <div class="card-heading link cursorPointer">
            <!-- <span *ngIf="order.shipping_status === 'Shipped' || order.shipping_status === 'Delivered'">Track</span> -->
            <span (click)="reorder(order.id)">Reorder</span>
            <span *ngIf="order.order_status === 'Pending' && order.payment_status === 'Pending'"
              [routerLink]="['/retryPayment', order.id]">Retry Payment</span>          
            
          </div>
        </div>
        <div class="w-100 card-body">
          <div class="order-info">
            Date: <span>{{ order.created_on_utc | date: 'dd MMM yyyy' }} </span><br />
            Amount: <span>₹ {{ (order.order_total)|ToFixed  | number:'' }}</span> <br />
            Payment method: <span>{{order.payment_method_system_name}}</span><br/>
            Status: <span>{{ order.order_status }}</span>
          </div>
          <table mat-table [dataSource]="dataSource" class="w-100 px1em"> 
            <ng-container matColumnDef="image" class="borderNone">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let item">
                <div class="tablecellCustom" fxLayout="column"
                fxLayoutAlign="space-around start">
                <img style="height: 100px;width: 100px; border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;" [src]="item.product.images[0].src" alt="item.product.images[0].alt" /> 
                </div>
              </td>
            </ng-container>    
            <!-- Name Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell *matCellDef="let element" class="productNameDiv">
                <div class="h-100 tablecellCustom br-none product-info" fxLayout="column"
                  fxLayoutAlign="space-between start">
                  <div class="productName cursorPointer">
                    <span  [routerLink]="['/', element.product.category_sename, element.product.se_name]">{{element.product.name}}</span>
                  </div>
                  <div class="light-blue">Ref. {{element.product.sku}}</div>

                </div>
                  
              </td>
            </ng-container>    
            <!-- 3 Column -->
            <ng-container matColumnDef="three">
              <th mat-header-cell *matHeaderCellDef class="borderNone"> </th>
              <td mat-cell class="displayTableCell" *matCellDef="let element">
                <div class="h-100 mr-l-10 pricediv tablecellCustom"  fxLayout="column"
                fxLayoutAlign="space-between center">
                <span *ngIf="!((element.original_product_cost|ToFixed)===(element.unit_price_incl_tax|ToFixed))" class="originalPrice">₹ {{(element.original_product_cost)|ToFixed | number:''}}</span>
                  <div class="product_price nowrap text-center">
                    ₹  {{(element.unit_price_incl_tax)|ToFixed | number:''}}
                  </div> 
                  <div class="min80">                 
                    <span class="quantityNumber">{{element.quantity}}</span>                   
                  </div>
                  <div class="nowrap text-center">
                    ₹  {{(element.price_incl_tax)|ToFixed | number:''}}
                   </div>

                </div>
              </td>
            </ng-container>     
            <tr mat-header-row *matHeaderRowDef="displayedColumnstwo"></tr>
            <tr mat-row class="mat-elevation-z0 mat-tr" *matRowDef="let row; columns: displayedColumnstwo;"></tr>
          </table>
          <div class="d-flex justify-content-center mtr-2010" *ngIf="(order.order_status === 'Complete' || order.shipping_status === 'Delivered') && !order.hasReturnRequest">
              <button  (click)="ReturnOrReplaceOrder(orderreturnLink);"  class="btn btn-blue">return or replace</button>
          </div>
          <div class="d-flex justify-content-center mtr-2010" *ngIf="(order.order_status === 'Complete' || order.shipping_status === 'Delivered') && order.hasReturnRequest">
              <button [routerLink]="[orderreturnLink]" routerLinkActive="router-link-active"  class="btn btn-blue">Return Summary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loaderY bg-logo" *ngIf="trackLoading">
</div>