@import '../../../stylesConstants.scss';

.example-radio-button {
  flex-direction: column;
  display: block;
  line-height: 30px;
}

.mat-radio-label {
  white-space: unset !important;
}

.radioButtonsDiv {
  margin-top: 10px;
} 
.confirm_btn {
  color: #090954;
  background: #BFD1E8;
  border: 1px solid #BFD1E8;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  display: block;
  border-radius: 1.5em;
  padding: .5em;
  &:hover {
    color: #ffffff;
    background: #090954;
    border: 1px solid #090954
  }
}

.Apercu {
  font-family: Apercu;
}

.p-1 {
  padding: 1em;
}

.loaderY {
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  animation: playloader 1.96s infinite;
}

@keyframes playloader {
  to {
    transform: rotateY(1turn);
  }
}

.error {
  color: #b54747;
}


.btn {
  height: 38px;
  line-height: 38px;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 300px;
  text-transform: uppercase;
  font-family: BelweSansLight;
  margin-top: 10px;
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
  margin: 0 0 2em 1em;
}

.hr {
  border-bottom: 1px solid #BFD1E8;
  width: 100%;
}

.totalNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 999;

  .total {
    font-family: Apercu;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background: white;
    color: #090954;
  }
}

.btn-light-blue {
  font-family: Belvue;
  font-size: 20px;
  border-radius: 20px;
  text-transform: uppercase;
  width: 200px;
  background: #bbd1ea;
  color: #090954;
}

.btn-square-blue {
  font-family: Belvue;
  font-size: 20px;
  border-radius: 0px;
  text-transform: uppercase;
  width: 100%;
  background: #090954;
  color: #ffffff;
  margin: 0px;
}

.w-260 {
  width: 260px;
}

.m-none {
  margin: 0px;
}

.title {
  font-family: Apercu;
  font-size: 14px;
  line-height: 20px;
}

.paymentMethodsContainer {
  max-width: 650px !important;
  margin-left: 1em;
}

.cardInfo {
  margin-bottom: 20px;
  margin-left: 28px;
}

.mat-form-field {
  margin-right: 0px;
  text-align: center;
}

.mr20 {
  margin-right: 20px;
}

.pciDiv {
  margin-top: 10px;

  img {
    margin-right: 10px;
  }
}