<div class="mobileInputContainer" fxLayout="row" fxLayoutAlign="center center">
  <div class="panel mat-elevation-z10" fxLayout="column" fxLayoutAlign="start center">
    <h5>Logged in with</h5>
    <div class="account" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between center"
      *ngIf="customer">
      <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="start center">
        <img
          [src]="'https://dummyimage.com/60x40/fcf4f0/090954&text=' + (customer.first_name ? customer.first_name[0] : 'A')"
          alt="">
        <div class="details">
          {{customer.first_name}} {{customer.last_name}} <br /> <span class="email">{{customer.email}}</span>
        </div>
      </div>
      <button mat-button (clicl)="logout()">Logout</button>
    </div>
    <p>We could not find any mobile number linked with this account on Y Jewelry</p>
    <h3>Link Your Mobile Number</h3>
    <div class="inputContainer" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
      <mat-form-field class="Apercu" fxFlex="100" fxFlex.gt-sm="100">
        <input matInput type="text" placeholder="Mobile Number" [(ngModel)]="mobile_number">
        <mat-hint>Note: You need to do this only once!</mat-hint>
      </mat-form-field>
    </div>
    <button class="btn btn-blue mx-11" (click)="save()">Save</button>
  </div>
</div>
