.cursorPointer {
  cursor: pointer !important;
}

.product6,
.product7 {
  display: none;
}

.Belvue {
  font-family: BelweSansLight;
}

.relatedProductsContainer {
  margin-bottom: 3em;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%
}

.title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

.productConatiner {
  // max-width: 1200px;
  // margin: auto;
}

.CategoryLoader {
  margin: 10px auto;
  animation: playloader 1.96s infinite;
}

@keyframes playloader {
  to {
    transform: rotateY(1turn);
  }
}

 
.dotNav {
  width: 100%;
  height: 40px; 
  position: absolute;
  left: 0;
  top: 70px;
  justify-content: space-around; 
  // display: none;
  .dot {
    background: #BFD1E8;
    border-radius: 1px;
    height: 2px;
    margin-right: 7px;
    cursor: pointer;

    &:first-child {
      margin-left: 7px;
    }
    .inner-dot-active{
      background: #090954 !important;
      height: 100%;
    }
    .inner-dot-previous{
      width: 100%;
      background: #090954 !important;
      height: 100%;
    }
    .inner-dot-remaining{
      width: 100%;
      background: #BFD1E8 !important;
      height: 100%;
    }
    .display-none{
      display: none;
    }
  } 
}
.display-none{
display: none;
}