.addToCartBtn {
  border: 1px solid #BFD1E8;
  color: #090954;
  background-color: #BFD1E8;
}

.btn {
  text-transform: uppercase;
  border-radius: 3em;
  text-align: center;
  padding: 0 1em;
  cursor: pointer;
  margin: 1em 85px;
}

.attributeDivs {
  display: inline-block;
  background: white;
  margin: 5px;
  border-radius: 45%;
  border: 1px solid #BFD1E8;
  padding: 2%;
  cursor: pointer;
}

.attributeActiveDiv {
  border: 1px solid #090954 !important;
}
