<div mat-dialog-content class="previewContainer">
  <div class="Belvue">
    <div>Select your bracelet size in cm:</div>
    <div class="attribute">
      <div *ngFor="
              let item of data.attributes.attribute_values;
              index as attrValueIndex
            " class="attributeDivs" [ngClass]="{'attributeActiveDiv': item.id === selectedAttrValue}"
        (click)="selectedAttrValue = item.id">
        <div>
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn addToCartBtn" (click)="submit()">Submit</button>
  </div>
</div>
