<div class="blogContainer" fxLayout="column" fxLayoutAlign="start center">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <h1>online<br>journal</h1>
    </div>
    <div class="body" fxLayout="column" fxLayoutALign="start center" infinite-scroll [alwaysCallback]="true" [infiniteScrollDistance]="scrollDistance"
        (scrolled)="onScrollDown()">
        <ng-container *ngFor="let item of blogList">
            <div fxLayout="column" fxLayoutAlign="start center">
                <h3 [routerLink]="['/', 'blog', item.se_name]" routerLinkActive="router-link-active" >{{item.title}}</h3>
                <div class="details">published on {{item.start_date | date: 'MMMM d, y'}}</div>
                <div class="details-pic" *ngIf="item.pictureUrl"   [ngStyle]="{'background-image': 'url(' + item.pictureUrl + ')'}">
                 </div>
                
                <div class="overview" [innerHTML]="item.body_overview"></div>
            </div>
        </ng-container>
    </div>
</div>
