<div class="bannersDivContainer" fxFill *ngIf="desktop">
  <ng-container>
    <app-carousel-holder [slidesStore]="banners" [carouselType]="'IMG'" [responsive]="false" nav="true">
    </app-carousel-holder>
  </ng-container>
</div>
<!-- <div class="bannersDivContainer" fxFill *ngIf="!desktop">
  <ng-container>
    <mat-card>
        <ng-container>
          <div class="img-div">
            <a  class="change-ratio">
              <picture>
                <source media="(min-width: 650px)" [srcset]="banners[0].src">
                <img mat-card-image [src]="banners[0].mobileSrc" [alt]="banners[0].id" loading="lazy" width="100%" height="100%">
              </picture>
            </a>  
          </div>        
      </ng-container> 
      <mat-card-content>
        <div [hidden]="banners[0].heading==='undefined'"  class="about-content">
          <div class="main-heading">{{banners[0].heading}}</div>
          <p class="content">{{banners[0].description}}</p> 
          <button class="btn" [routerLink]="[banners[0].buttonLink]"><span class="btn-text">{{banners[0].buttonText}}</span></button>
        
        </div> 
      </mat-card-content>   
    </mat-card>  
  </ng-container>
</div> -->
