 <div class="productItemConatiner"  fxLayout="row" fxLayoutAlign="start center">          
  <div  fxFlex="100" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <div fxFlex="25" fxLayoutGap="20px" *ngFor="let product of products;index as productIndex">
      <picture>           
        <img  (click)="OnProductSelected(productIndex,product)" [src]="(product|ConfiguratorImage).src" [alt]="(product|ConfiguratorImage).alt" width="69" height="69"
          class="lazy" loading="lazy" />
          <!-- <img  (click)="OnProductSelected(productIndex,product)" [src]="product.images.filter(x=>x.title==='ConfigurationImage')[0]?.imageSrc" [alt]="product.images[0].alt" width="69" height="69"
          class="lazy" /> -->
      </picture>
    </div>
  </div>
</div>
