<div style="position: fixed; bottom: 0; width: 100vw;z-index: 1000;" *ngIf="showPopUpBool">
  <div class="popup" fxLayout.gt-xs="row" fxLayoutAlign="center center" style="width: 100vw;">
    <div class="modal-content"
      style="width: 100%; max-height: calc(100vh - 80px); position: fixed; bottom: 0; background: #ffffff; text-align: center;">
      <div class="modal-header" fxLayout="column" fxLayoutAlign="center end">
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div>
          <p style="text-align: center; margin-left: 10px;">
            Cookies help us deliver our services. By using our services, you agree to our use of cookies. <a
              [routerLink]="['/info','privacy']">Learn more</a>
          </p>
        </div>
        <div style="padding: 0 1em">
          <button (click)="acceptPolicy()"
            style="width: 80px; margin: auto; border-radius: 15px; border: 1px solid #00162B; cursor: pointer; color: white; background: #00162B">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>