<div class="recoveryConatiner" fxLayout="column" fxLayoutAlign="start center">
  <div class="heading w-100" fxLayout="row" fxLayoutAlign="center center">
    <h1>password recovery</h1>
  </div>
  <div class="mainBody w-100" fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngIf="!tokenValidation">
      <h3>{{validationError}}</h3>
    </ng-container>
    <ng-container *ngIf="tokenValidation">
      <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
        <mat-form-field fxFlex="100">
          <input matInput [type]="showPassword1 ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password">
          <button mat-button (click)="showPassword1 = true" (mouseleave)="showPassword1 = false" matSuffix
            mat-icon-button aria-label="Clear">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
        <mat-form-field fxFlex="100">
          <input matInput [type]="showPassword2 ? 'text' : 'password'" placeholder="Confirm Password"
            [(ngModel)]="cPassword">
          <button mat-button (click)="showPassword2 = true" (mouseleave)="showPassword2 = false" matSuffix
            mat-icon-button aria-label="Clear">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <mat-hint class="error" *ngIf="showError || (password && cPassword && password !== cPassword)">
            Password does not match
          </mat-hint>
          <mat-hint class="error" *ngIf="showMsg">
            {{msg}}
          </mat-hint>
        </mat-form-field>
      </div>
      <button class="btn btn-blue my-11" (click)="changePassword()">Change Password</button>
    </ng-container>
  </div>
</div>
