@import '../../../stylesConstants.scss';


.orderSummaryContainer {
  padding: 1.5em;
  background: white;
  color: #090954;
  font-family: Apercu;
  line-height: 20px;
  border-radius: 5px;

  .title {
    font-size: 18px;
  }

  .mat-form-field-infix {
    border: 1px solid #aaa !important;
  }

  .btn {
    height: 38px;
    line-height: 38px;
    display: block;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0px 40px;
    margin: auto 0;
    text-transform: uppercase;
    font-family: BelweSansLight;
  }

  .btn-blue {
    background-color: #090945;
    color: $background-color-main;

    img {
      margin: -2px 5px;
      width: 10px;
      height: auto;
    }
  }

  .btn-light-blue {
    color: #090954;
    background: #BFD1E8;
  }

  .floatRight {
    float: right;
  }

  .hr {
    border-bottom: 1px solid #BFD1E8;
    width: 100%;
    margin: 19px 0 16px 0;
    height: 1px;
  }

  .w-100 {
    width: 100%;
  }

  .subTitle {
    font-size: 14px;
  }

  .details {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 15px;
  }

  .mx1em {
    margin-right: .5em;
    margin-left: .5em;
  }

  .px1em {
    padding-right: .5em;
    padding-left: .5em;
  }

  .basicTypo {
    color: #090954;
    font-family: Apercu;
    line-height: 20px;
  }

  #btn-ok {
    padding: 0;
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

  #btn-redeem {
    padding: 0;
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

}

.mx-11 {
  margin: 11px auto !important;
}

.btn {
  height: 38px;
  line-height: 38px;
  width: 100%;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-family: BelweSansLight;
  font-size: 14px;
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
}

.close {
  img {
    width: 10px;
    margin-left: 5px;
  }
}

.error {
  color: #b54747 !important;
}

.infoToolTip {
  color: #ffffff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  margin-left: 5px;
  padding: 0px;
  margin: -20px;
  transform: translateY(-2px);

  img {
    width: 14px;
  }
}

.fg-light-blue {
  color: #BFD1E8;
}

.upperCase {
  text-transform: uppercase;
}

.Apercu {
  font-family: Apercu;
}

.mb20 {
  margin-bottom: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mr20 {
  margin-right: 20px;
}


@media only screen and (max-width: 770px) {
  .orderSummaryContainer {
    margin: 10px;
    width: calc(100% - 20px);
  }

  .cashBackText {
    padding: 1.5em;
  }
}

.text-center {
  text-align: center;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 30px;
  height: 30px;
}

.mat-checkbox .text {
  font-family: Apercu;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #090954;
  height: 30px;
  line-height: 30px;
}

/*******************************fancyCheckbox****************************************/
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}

.fancy-checkbox input[type="checkbox"]:checked~.checked {
  display: flex;
}

.fancy-checkbox input[type="checkbox"]:checked~.unchecked {
  display: none;

}

.fancy-checkbox input[type="checkbox"]:not(:checked)~.unchecked {
  display: flex;
}

.fancy-checkbox .text {
  height: 30px;
  line-height: 30px;
  float: rigth;
}

.unchecked-Icon {
  width: 30px;
  height: 30px;
  background: #FEFCFB;
  border: 1px solid #BFD1E8;
  box-sizing: border-box;
  border-radius: 5px;
}

.checked-Icon {
  // background: #FEFCFB; 
  // border: 1px solid #BFD1E8;
  // box-sizing: border-box;
  // border-radius: 5px;
}

.fancy-checkbox {
  .text {
    font-family: Apercu;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #090954;
    height: 30px;
    line-height: 30px;
  }
}

.checked-Icon svg {
  padding: 6px;
  background: #FEFCFB;
  border: 1px solid #BFD1E8;

  border-radius: 5px;
}

.float-l {
  float: left;
}

.ml-12 {
  margin-left: 12px;
}

/*******************************fancyCheckbox****************************************/
.giftboxprice {
  font-family: Apercu;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #090954;
  height: 30px;
  line-height: 30px;
}
