<div class="breadcrum Belvue">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <ng-container *ngFor="let item of breadcrumbList; let IndexBreadcrumb = index; last as isLast;">
      <li class="cursorPointer" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
        *ngIf="isLast">
        <a [routerLink]="[item.link]" [title]="item.title" itemprop="item"><span
            itemprop="name">{{ item.title }}</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li class="cursorPointer" *ngIf="!isLast">
        <a [routerLink]="[item.link]" [title]="item.title">
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
