<div class="giftCardContainer">
  <div class="desktopContainer" fxShow.gt-xs fxHide>
    <div class="giftCardCategoryDiv" fxLayout="row" fxLayoutAlign="center start">
      <div *ngFor="let subCat of subCategoryList; index as subCategoryIndex; last as isLast; first as isFirst"
        [ngClass]="{'giftCardCategoryFirst': isFirst, 'giftCardCategoryMiddle': !isLast && !isFirst, 'giftCardCategoryLast': isLast, 'selected': subCat.se_name === subCategorySlug}">
        <a [routerLink]="['/', 'gift-voucher', subCat.se_name]"
          *ngIf="subCat.se_name !== subCategorySlug">{{subCat.txt}}</a>
        <a [routerLink]="['/', 'gift-voucher', subCat.se_name]" *ngIf="subCat.se_name === subCategorySlug">
          <h1 class="allUnset">{{subCat.txt}}</h1>
        </a>
      </div>
    </div>
    <div class="giftCards" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex.xs="100" fxFlex.sm="50" [fxFlex.gt-sm]="flexNumber === 4 ? 25 : 30" fxLayout="row" fxLayoutWrap
        fxLayoutAlign="center center" *ngFor="let card of giftCards; index as cardIndex"
        [ngStyle]="{'background-image':  'url('+card.src+')', 'background-position': 'center', 'background-size': 'cover' }"
        class="cardTitle">
        <a [routerLink]="['/', 'gift-voucher', subCategorySlug, card.se_name]">
          <h3 class="pointer hoverBlue">{{card.title}}</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="mobileContainer" fxHide.gt-sm fxShow.sm>
    <div class="giftCardCategoryMobileDiv" fxLayout="column" fxLayoutAlign="start stretch">
      <div *ngFor="let subCat of subCategoryList; index as subCategoryIndex; last as isLast; first as isFirst;">
        <div
          [ngClass]="{'giftCardCategoryMobileFirst': isFirst, 'giftCardCategoryMobileMiddle': !isLast && !isFirst, 'giftCardCategoryMobileLast': isLast, 'selected': subCat.se_name === subCategorySlug}"
          fxLayout="row" fxLayoutAlign="space-between start">
          <div><a [routerLink]="['/', 'gift-voucher', subCat.se_name]">{{subCat.txt}}</a></div>
          <div class="noTransformation" [routerLink]="['/', 'gift-voucher', subCat.se_name]">
            <img src="https://files.y.jewelry/assets/img/elmts/select_arrow.svg" alt="select" width="15px">
          </div>
        </div>
        <div class="giftCards" fxLayout="column" fxLayoutAlign="start stretch"
          *ngIf="subCat.se_name === subCategorySlug">
          <div fxFlex.xs="33" fxLayout="row" fxLayoutAlign="center center"
            *ngFor="let card of giftCards; index as cardIndex"
            [ngStyle]="{'background-image':  'url('+card.src+')', 'background-position': 'center', 'background-size': 'cover' }"
            class="cardTitle">
            <a [routerLink]="['/', 'gift-voucher', subCategorySlug, card.se_name]">
              <h3 class="pointer hoverBlue">{{card.title}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
