<div class="container container-payment-confirmation" fxLayout="column" fxLayoutAlign="center center">
  <div class="inner-container">
    <h1 class="title" id="successTitle">Your Payment was unsuccessful.</h1>
    <div class="confirmation_message">
      <p>Transaction Failed ! Your order is in pending state. You can go to my
        orders for more information.
      </p>
      <a class="go_to_my_orders_btn rounded_btn" *ngIf="paymentFailed" [routerLink]="['/retryPayment', orderId]">Retry
        Payment</a> <br />
      <a class="go_to_my_orders_btn rounded_btn" [routerLink]='["/", "account", "myorders"]'>Go To My Orders</a> <br />
      <p>
        <a [routerLink]="['/']">Back to the site</a>
      </p>
    </div>
  </div>
</div>
