.confirmation_layout {
  background: url(https://files.y.jewelry/assets/img/Visuel-pages-footer-blue.jpg);
  background-size: cover;
}

.container-payment-confirmation {
  min-height: 80vh;
  background-color: white;
  text-align: center;
}

#successTitle {
  text-align: center;
}

.go_to_my_orders_btn {
  max-width: 200px;
  margin: auto;
}
