<!-- <div class="landingContainer" fxHide fxShow.md  fxLayout="column" fxLayoutAlign="start start">
  <div class="coverDiv" fxLayout="column" fxLayoutAlign="space-between center">
    <div></div>
    <h1>create your<br />own sets</h1>
  </div>
  <div class="mainDiv" fxLayout="column" fxLayoutAlign="start center">
    <h3>it's time to be creative</h3>
    <div class="details">
      Choose a bracelet, an anklet, add charms, swtich them, mix & match, have fun, be creative, and share your style
      with your friends!
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
      <div class="imgDiv cursorPointer" fxLayout.gt-md="row" fxLayout="column"
        fxLayoutAlign.gt-md="space-between start" fxLayoutAlign="space-between center">
        <img class="mbr20" src="https://files.y.jewelry/assets/img/configurator/final.jpg" alt="final" (click)="openConfigurator()">
        <div class="mbr20" fxLayout="column" fxLayoutAlign.gt-md="space-between start" fxLayoutAlign="space-between center">
          <img class="mb20" src="https://files.y.jewelry/assets/img/configurator/charms.jpg" alt="charms"
            (click)="openConfigurator()">
          <img class="mb20" src="https://files.y.jewelry/assets/img/configurator/chains.jpg" alt="chains"
            (click)="openConfigurator()">
        </div>
      </div>
      <div class="share cursorPointer" fxLayout="row" fxLayoutAlign="start start">
        <img src="https://files.y.jewelry/assets/img/configurator/whatsapp.svg" alt="whatsapp">
        <img src="https://files.y.jewelry/assets/img/configurator/facebook.svg" alt="facebook">
        <img src="https://files.y.jewelry/assets/img/configurator/download.svg" alt="download">
      </div>
    </div>
  </div>
</div> -->

 <div class="landingContainermobile"  fxLayout="column" fxLayoutAlign="start start">
  <div class="coverDiv" fxLayout="column" fxLayoutAlign="space-between center">
    <div></div>
    <h1>create your<br />own sets</h1>
  </div>
  <div class="mainDiv" fxLayout="column" fxLayoutAlign="start center"> 
    <div class="details">
      It is time to be creative! Mix & match your favorite products, be creative, and share your style with your friends!
    </div>
    <button class="btn btn-skyblue mb20">start creation</button>
    <div fxLayout="column" fxLayoutAlign="start start">
      <div class="curator-previewContainer">
        <mat-card> 
          <mat-card-content> 
            <div class="main-content">
              <img src="https://files.y.jewelry/assets/img/configurator/2020/chain-blank.jpg" alt="chain-blank">
               <div class="tab-Heretext mt44">
                tap here <br>
                to select charms
              </div>
              <div class="plus-svg">
                <svg class="mt7 mb40" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                  <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#FDF4F1"/>
                  <path d="M15 1.5C22.5 1.5 28.5 7.5 28.5 15C28.5 22.5 22.5 28.5 15 28.5C7.5 28.5 1.5 22.5 1.5 15C1.5 7.5 7.5 1.5 15 1.5ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0Z" fill="#BBD1EA"/>
                  <path d="M19.5 14.25H15.75V10.5C15.75 10.05 15.45 9.75 15 9.75C14.55 9.75 14.25 10.05 14.25 10.5V14.25H10.5C10.05 14.25 9.75 14.55 9.75 15C9.75 15.45 10.05 15.75 10.5 15.75H14.25V19.5C14.25 19.95 14.55 20.25 15 20.25C15.45 20.25 15.75 19.95 15.75 19.5V15.75H19.5C19.95 15.75 20.25 15.45 20.25 15C20.25 14.55 19.95 14.25 19.5 14.25Z" fill="#090954"/>
                  </svg>
              </div>
            </div>
          </mat-card-content> 
        </mat-card>
      </div>
      <div class="curator-charmsselection">
        <mat-card> 
          <mat-card-content> 
            <div class="main-content">
              <div class="title">Charms selection</div>
              <div class="tab-Heretext mt18">
                tap here <br>
                to select charms
              </div>
              <div class="plus-svg">
                <svg class="mt7 mb20" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                  <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#FDF4F1"/>
                  <path d="M15 1.5C22.5 1.5 28.5 7.5 28.5 15C28.5 22.5 22.5 28.5 15 28.5C7.5 28.5 1.5 22.5 1.5 15C1.5 7.5 7.5 1.5 15 1.5ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0Z" fill="#BBD1EA"/>
                  <path d="M19.5 14.25H15.75V10.5C15.75 10.05 15.45 9.75 15 9.75C14.55 9.75 14.25 10.05 14.25 10.5V14.25H10.5C10.05 14.25 9.75 14.55 9.75 15C9.75 15.45 10.05 15.75 10.5 15.75H14.25V19.5C14.25 19.95 14.55 20.25 15 20.25C15.45 20.25 15.75 19.95 15.75 19.5V15.75H19.5C19.95 15.75 20.25 15.45 20.25 15C20.25 14.55 19.95 14.25 19.5 14.25Z" fill="#090954"/>
                  </svg>
              </div>
            </div>
          </mat-card-content> 
        </mat-card>
      </div>
      <div class="curator-charmsselection">
        <mat-card> 
          <mat-card-content> 
            <div class="main-content">
              <div class="title">chain selector</div> 
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="img-circle-blue mt10 mb20">
                  <img src="https://files.y.jewelry/assets/img/configurator/2020/chain.jpg" alt="chain">
                </div>
                <div class="plus-svg mt10 mb20">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#FDF4F1"/>
                    <path d="M15 1.5C22.5 1.5 28.5 7.5 28.5 15C28.5 22.5 22.5 28.5 15 28.5C7.5 28.5 1.5 22.5 1.5 15C1.5 7.5 7.5 1.5 15 1.5ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0Z" fill="#BBD1EA"/>
                    <path d="M19.5 14.25H15.75V10.5C15.75 10.05 15.45 9.75 15 9.75C14.55 9.75 14.25 10.05 14.25 10.5V14.25H10.5C10.05 14.25 9.75 14.55 9.75 15C9.75 15.45 10.05 15.75 10.5 15.75H14.25V19.5C14.25 19.95 14.55 20.25 15 20.25C15.45 20.25 15.75 19.95 15.75 19.5V15.75H19.5C19.95 15.75 20.25 15.45 20.25 15C20.25 14.55 19.95 14.25 19.5 14.25Z" fill="#090954"/>
                    </svg>
                </div>
              </div>
              
            </div>
          </mat-card-content> 
        </mat-card>
      </div> 
    </div>
  </div>
</div>