<div class="addressContainer" fxLayout.gt-sm="row" fxLayoutWrap fxLayout="column" fxLayoutAlign="center start">
  <div class="cardDiv m-b-20" fxLayout="column" fxLayoutAlign="space-between start" fxFlex.gt-sm="35"
    fxFlex="80" *ngFor="let data of myNotifications; index as orderIndex;">
    <div class="card" fxLayout="column" fxLayoutAlign="start start" ngClass.gt-sm="m-b-20">
        <div class="heading w100" fxLayout="row" fxLayoutAlign="space-between start"
            *ngIf="data.heading.length > 0">
            <div>{{data.heading}}</div>
        </div>
        <div class="previewContainer" *ngIf="data.content.length > 0" fxLayout="column"
            fxLayoutAlign="start end" [innerHTML]="data.content">
        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between start" *ngIf="data.url">
            <a class="btn btn-light-blue" *ngIf="data.url.length > 0" [routerLink]="[data.url]">OK let's
                go!</a>
        </div>      
    </div>
  </div>
</div>