@import "./../../../../stylesConstants";

.cardDiv {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.card {
  background: #FFFFFF;
  border-radius: 16px 10px 10px 10px;
  color: #090954;
  width: 100%;
  max-width: 380px;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;

  >div {
    width: calc(100% - 20px);
  }

  .card-heading {
    font-family: Apercu;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase; 
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    margin-top: 5px;
    &.link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .card-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .card-body {
    font-family: Apercu;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    .socialLogin{ 
      text-transform: uppercase;
      margin: 8px 0px 5px 0px;
      .fb-icon{
        color: #3B5998;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        span{
          margin-left: 5px;
        }        
      }
      .google-icon{
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #DC4E41; 
        span{
          margin-left: 5px;
        }
      }
    }
    img {
      width: 14px;
    }

    .order-image {
      overflow-x: auto;
      width: 100%;
      display: flex; 
      img {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 1px;
      }
    }
    .order-info{
      font-family: 'ApercuLight';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px; 
      color: #090954;
      span{
        font-family: 'Apercu'; 
      }
    }
  }
}

.btn {
  height: 40px;
  line-height: 40px;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-family: BelweSansLight;

  img {
    width: 36px !important;
    height: 35px !important;
    float: left !important;
    margin: 2px -3px !important;
  }
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
}

.error_message {
  color: #b54747;
}

.dashboardContainer {
  max-width: 1000px;
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.w-100-20 {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}


a {
  // text-decoration: underline;
}

.headings {
  font-family: Apercu;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: #BFD1E8;
  margin-top: 20px;
}

.data {
  font-family: Apercu;
  font-size: 12px;
  line-height: 20px;
  color: #090954;
}

.col {
  min-width: 60px;
}

.mr20 {
  >div {
    margin-right: 20px;
  }
}
.rating-start{
  display: flex;
  .startimg{
    height: 17px;
    width: 17px;
  }
}
.check-all{
  .mat-checkbox-inner-container{
    height: 30px !important;
    width: 30px !important;
  }
  .text{
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; 
    display: flex;
    align-items: center; 
    color: #090954;
  }
  
}
.account-verified{
  font-family: 'ApercuLight';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background: #FEFCFB; 
  border: 1px solid #BFD1E8;
  box-sizing: border-box; 
  padding: 5px;
  margin-left: 10px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    clip-path: polygon(100% 0, 41% 20%, 100% 100%);
    left: -13px;
    top: 4px;
    border: 7px solid #BFD1E8;
  }
  &:after{
    position: absolute;
    content: '';
    clip-path: polygon(100% 0, 41% 20%, 100% 100%);
    left: -9px;
    top: 6px;
    border: 5px solid #FFFFFF;
  }
}

/*******************************fancyCheckbox****************************************/
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}
     
.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: flex;
  }
  
  .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
  {
    display: none; 
    
  }
  .fancy-checkbox input[type="checkbox"]:not(:checked) ~ .unchecked
  {
    display: flex;
  }
  .fancy-checkbox .text{
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
}
.unchecked-Icon{   
    width: 30px;
    height: 30px; 
    background: #FEFCFB; 
    border: 1px solid #BFD1E8;
    box-sizing: border-box;
    border-radius: 5px;
  }
.checked-Icon{ 
  // background: #FEFCFB; 
  // border: 1px solid #BFD1E8;
  // box-sizing: border-box;
  // border-radius: 5px;
}
.checked-Icon svg{
  padding: 6px;
    background: #FEFCFB;
    border: 1px solid #BFD1E8;
    
    border-radius: 5px;
  }
.float-l{
  float: left;
}
 
/*******************************fancyCheckbox****************************************/
 