@import '../../../stylesConstants.scss';

.filterContainer {
  padding: 2em;
  background-color: #ffffff;
  border-top: 1px solid #BFD1E8;
}

.filterFlexDIV {
  margin-bottom: 2em;

  .filterTitle {
    text-transform: lowercase;
    border-radius: 10%;
    color: #090954;
    font-family: Belvue;
    text-align: left;
    font-size: 18px;
    line-height: 20px;
  }

  ul {
    margin-top: 1em;
    list-style: none;
  }
}

.filter_btn {
  border-radius: 10%;
  cursor: pointer;
  margin: 0 1em;
}

.show_btn {
  background-color: #090954;
  color: #ffffff;
  border: 1px solid #090954;
}

.clear_btn {
  background-color: #ffffff;
  border: 1px solid #aaa;
  color: #aaa;
}

.label {
  margin: 0 0 0 2em;
  top: -2px;
  position: absolute;
  font-family: Apercu;
}

.label2 {
  margin: 0 0 0 4.7em;
  top: -2px;
  position: absolute;
  font-family: Apercu;
}

.marginBottom1em {
  margin-bottom: 1em;
}

.mobileDiv {
  position: fixed;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  left: 0;
  padding: 1em 0;
  z-index: 99990;
}

.fontSize13 {
  font-size: 1.3em;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  visibility: hidden;
}

.displayBlock {
  display: inline-block;
}

.priceRangeFilter,
.typeFilter {
  ul {
    min-width: 150px;
  }
}

.collection {
  ul {
    min-width: 310px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 111px;
  }
}

.filterFlexDIV1 {
  font-family: Belvue;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;

  .checkboxFive {
    height: 30px;
    width: 100%;
    line-height: 22px;
    text-transform: uppercase;
    margin: 20px 0 0 10px;
  }
}

@media (max-width: 669px) {
  .filterFlexDIV1 {
    display: flex !important;
  }

  .filterFlexDIV {
    display: none !important;
  }

  .filterContainer {
    padding: 0px;
  }
}

@media (min-width: 670px) {
  .filterFlexDIV1 {
    display: none !important;
  }

  .filterFlexDIV {
    display: flex !important;
  }
}

.w-100 {
  width: 100%;
}

.bg-light-blue {
  background: #BFD1E8;
}

.b-light-blue {
  border-bottom: 1px solid #BFD1E8;
  border-right: 1px solid #BFD1E8;
  padding-left: 10px;
}

.b-bottom-none {
  border-bottom: none !important;
}


.mx-11 {
  margin: 11px auto !important;
}

.btn {
  font-size: 14px;
  transform: translateX(-8px);
  height: 38px;
  line-height: 38px;
  width: 200px;
  display: block;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-family: BelweSansLight;
}

.btn-blue {
  background-color: #090945;
  color: $background-color-main;
}

.text-center {
  text-align: center;
}

.mr40 {
  margin-right: 40px;
}

.mr20 {
  margin-right: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.w250 { 
  width: 250px;
}

.slider {
  padding: 20px;
  height: 100px;
}