.dialog-container{  
    text-align:center; 
    margin: auto; 
    background: #FEFCFB;
    border-radius: 10px !important;
    padding: 20px;
  .heading{
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px; 
  text-align: center;
  text-transform: uppercase; 
  color: #090954; 
  margin-bottom:24px
  }
 .sub-heading {
    font-family: ApercuLight;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px; 
    text-align: center;     
    color: #090954; 
  }
  .content{
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; 
    text-align: center; 
    color: #090954;
    margin-top:22px; 
    margin-bottom: 10px; 
  }
  button{
    background: #090954;
    border-radius: 20px;
    color:white;
    height:40px;
    width:96px;
    border:none; 
    font-family: 'ApercuLight';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BFD1E8;

  }
  .mat-dialog-container {
    border-radius: 10px !important;
    padding: 0px !important;
    background: #fcf4f0  !important;
  }
  .result-text{
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #090954;
    margin-top: 26px;
  }
  .show-lastResult{
    font-family: Apercu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px; 
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #090954;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #BFD1E8;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    width: 166px;
    margin-top: 16px;
  }
}
.dialog-container1{ 
  text-align:center;  
  margin: auto; 
  padding: 20px;
  border-radius: 10px !important; 
  background: rgba(251, 244, 241, 0.8)  !important;
.heading{
font-family: ApercuLight;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 10px; 
text-align: center;
text-transform: uppercase; 
color: #090954; 
margin-bottom:24px
}
.sub-heading {
  font-family: ApercuLight;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px; 
  text-align: center;     
  color: #090954; 
}
.content{
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; 
  text-align: center; 
  color: #090954;
  margin-top:21px; 
  margin-bottom: 10px; 
}
button{   
  width: 129.13px;
  height: 40px;
  background: rgba(255, 255, 255, 0.75); 
  border: 1px solid #BFD1E8;
  box-sizing: border-box;
  border-radius: 20px;  
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
   color: #090954;
}
.mat-dialog-container {
  border-radius: 1.5em !important;
  padding: 0px !important; 
  background: rgba(251, 244, 241, 0.8)  !important;
}
} 
 
.mat-dialog-container { 
  padding: 0px !important;  
}
