<h1 mat-dialog-title>Data Handling</h1>
<div class="contentContainer" mat-dialog-content>
  <mat-radio-group aria-labelledby="gdpr-action" class="gdprAction" [(ngModel)]="selectedAction">
    <mat-radio-button class="example-radio-button" [value]="1">
      Export Data
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="2">
      Delete Account
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="result()" cdkFocusInitial
    [disabled]="selectedAction === 0">Proceed</button>
  <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
</div>
