<div (clickOutside)="searchOn = false;">
  <div class="navContainer" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="navIcon bg-burger" [hidden]="mobilePanelActive" fxHide.gt-sm
        (click)="mobilePanelActive = true; scrollTop();">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent" />
          <g clip-path="url(#clip0)">
            <rect width="375" height="2070" transform="translate(-10 -20)" fill="white" />
            <rect x="-10" y="-20" width="375" height="80" fill="white" />
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1" />
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA" />
            <path
              d="M26.9333 15.6H13.0667C12.4 15.6 12 15.0667 12 14.5333C12 13.8667 12.5333 13.3333 13.0667 13.3333H26.8C27.4667 13.3333 27.8667 13.8667 27.8667 14.4C28 15.0667 27.4667 15.6 26.9333 15.6Z"
              fill="#090954" />
            <path
              d="M26.9333 21.0667H13.0667C12.5333 21.0667 12 20.6667 12 20C12 19.3333 12.5333 18.9333 13.0667 18.9333H26.8C27.4667 18.9333 27.8667 19.4667 27.8667 20C28 20.6667 27.4667 21.0667 26.9333 21.0667Z"
              fill="#090954" />
            <path
              d="M26.9333 26.6667H13.0667C12.5333 26.6667 12 26.1333 12 25.6C12 24.9333 12.5333 24.5333 13.0667 24.5333H26.8C27.4667 24.5333 27.8667 25.0667 27.8667 25.6C28 26.1333 27.4667 26.6667 26.9333 26.6667Z"
              fill="#090954" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="2070" fill="white" transform="translate(-10 -20)" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="navIcon bg-close" [hidden]="!mobilePanelActive" (click)="mobilePanelActive = false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="#AAAAAA"></rect>
          <g clip-path="url(#clip0)">
            <rect width="375" height="800" transform="translate(-10 -20)" fill="white"></rect>
            <rect x="-10" y="-20" width="375" height="80" fill="white"></rect>
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#BFD1E8"></path>
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA"></path>
            <path
              d="M21.4 20L26.7 14.7C27.1 14.3 27.1 13.7 26.7 13.3C26.3 12.9 25.7 12.9 25.3 13.3L20 18.6L14.7 13.3C14.3 12.9 13.7 12.9 13.3 13.3C12.9 13.7 12.9 14.3 13.3 14.7L18.6 20L13.3 25.3C12.9 25.7 12.9 26.3 13.3 26.7C13.5 26.9 13.7 27 14 27C14.3 27 14.5 26.9 14.7 26.7L20 21.4L25.3 26.7C25.5 26.9 25.7 27 26 27C26.3 27 26.5 26.9 26.7 26.7C27.1 26.3 27.1 25.7 26.7 25.3L21.4 20Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="800" fill="white" transform="translate(-10 -20)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="navIcon bg-camera" fxHide.gt-sm [routerLink]="['/lookbook']" (click)="mobilePanelActive = false;scrollTop();">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z" fill="#FDF4F1"/>
          <path d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z" fill="#BBD1EA"/>
          <path d="M25.6667 27H13.6667C11.8 27 10.3333 25.5333 10.3333 23.6667V15.6667C10.3333 13.8 11.8 12.3333 13.6667 12.3333H25.6667C27.5333 12.3333 29 13.8 29 15.6667V23.6667C29 25.5333 27.5333 27 25.6667 27ZM13.6667 13.6667C12.6 13.6667 11.6667 14.6 11.6667 15.6667V23.6667C11.6667 24.7333 12.6 25.6667 13.6667 25.6667H25.6667C26.7333 25.6667 27.6667 24.7333 27.6667 23.6667V15.6667C27.6667 14.6 26.7333 13.6667 25.6667 13.6667H13.6667Z" fill="#090954"/>
          <path d="M25.6667 29.6667H15V28.3333H25.6667C28.2 28.3333 30.3333 26.2 30.3333 23.6667V17H31.6667V23.6667C31.6667 27 29 29.6667 25.6667 29.6667Z" fill="#090954"/>
        </svg>  
      </div>
      <div class="navIcon bg-search" (click)="ClickSearchIcon()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent"></rect>
          <g clip-path="url(#clip0)">
            <rect width="375" height="800" transform="translate(-110 -20)" fill="white"></rect>
            <rect x="-110" y="-20" width="375" height="80" fill="white"></rect>
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1"></path>
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA"></path>
            <path d="M12 18H13.3333C13.3333 15.4667 15.4667 13.3333 18 13.3333V12C14.6667 12 12 14.6667 12 18Z"
              fill="#090954"></path>
            <path
              d="M29.8666 28.8L24.6666 23.6C26 22.1333 26.8 20.1333 26.8 18C26.6666 13.2 22.8 9.33333 18 9.33333C13.2 9.33333 9.33331 13.2 9.33331 18C9.33331 22.8 13.2 26.6667 18 26.6667C20.1333 26.6667 22.1333 25.8667 23.6 24.5333L28.8 29.7333L29.8666 28.8ZM18 25.3333C14 25.3333 10.6666 22 10.6666 18C10.6666 14 14 10.6667 18 10.6667C22 10.6667 25.3333 14 25.3333 18C25.3333 22 22 25.3333 18 25.3333Z"
              fill="#090954"></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="800" fill="white" transform="translate(-110 -20)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="navIcon bg-configurator" fxHide fxShow.gt-sm (click)="openConfigurator();mobilePanelActive = false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent"></rect>
          <g clip-path="url(#clip0)">
            <rect width="375" height="2070" transform="translate(-225 -20)" fill="white"></rect>
            <rect x="-225" y="-20" width="375" height="80" fill="white"></rect>
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1"></path>
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA"></path>
            <path
              d="M20 23.7333C12.1333 23.7333 6 21.0667 6 17.4667C6 14 12.1333 11.2 20 11.2C27.8667 11.2 34 13.8667 34 17.4667C34 21.0667 27.8667 23.7333 20 23.7333ZM20 12.6667C12.5333 12.6667 7.33333 15.2 7.33333 17.6C7.33333 20 12.5333 22.5333 20 22.5333C27.4667 22.5333 32.6667 20 32.6667 17.6C32.6667 15.2 27.4667 12.6667 20 12.6667Z"
              fill="#090954"></path>
            <path
              d="M30.1333 24.4C29.3333 24 28.4 24.2667 28 25.0667V25.2H27.8667C27.0667 24.8 26.1333 25.0667 25.7333 25.8667C25.3333 26.6667 25.6 27.6 26.4 28L29.3333 29.6L30.9333 26.6667C31.2 25.8667 30.9333 24.8 30.1333 24.4Z"
              fill="#090954"></path>
            <path
              d="M11.7333 29.8667C13.2061 29.8667 14.4 28.6728 14.4 27.2C14.4 25.7272 13.2061 24.5333 11.7333 24.5333C10.2606 24.5333 9.06668 25.7272 9.06668 27.2C9.06668 28.6728 10.2606 29.8667 11.7333 29.8667Z"
              fill="#090954"></path>
            <path
              d="M20 30.5333L18.1333 31.2L18.2667 29.3333L17.0667 27.7333L18.9333 27.2L20 25.6L21.0667 27.2L22.9333 27.7333L21.7333 29.3333L21.8667 31.2L20 30.5333Z"
              fill="#090954"></path>
            <path
              d="M20 24.6667C19.6 24.6667 19.3333 24.4 19.3333 24V22.4C19.3333 22 19.6 21.7333 20 21.7333C20.4 21.7333 20.6667 22 20.6667 22.4V24C20.6667 24.2667 20.4 24.6667 20 24.6667Z"
              fill="#090954"></path>
            <path
              d="M12.8 23.7333H12.6667C12.2667 23.6 12.1333 23.3333 12.1333 22.9333L12.6667 21.3333C12.8 20.9333 13.0667 20.8 13.4667 20.8C13.8667 20.9333 14 21.2 14 21.6L13.6 23.2C13.4667 23.6 13.2 23.7333 12.8 23.7333Z"
              fill="#090954"></path>
            <path
              d="M27.2 23.7333C26.9333 23.7333 26.6667 23.6 26.5333 23.2L26.1333 21.6C26 21.2 26.2667 20.9333 26.6667 20.8C27.0667 20.6667 27.3333 20.9333 27.4667 21.3333L27.8667 22.9334C28 23.3334 27.7333 23.6 27.3333 23.7333H27.2Z"
              fill="#090954"></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="2070" fill="white" transform="translate(-225 -20)"></rect>
            </clipPath>
          </defs>
        </svg>
        <p class="configurator_num_items" (click)="openConfigurator();mobilePanelActive = false;"
          [hidden]="!(configuratorItems!=0 && configuratorItems!=undefined)">
          {{configuratorItems}}
        </p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="30">
      <div class="menus" (mouseenter)="activatePanel(1)" (mouseleave)="cancelPanel()" [routerLink]="['/sets']" fxHide
        fxShow.gt-sm routerLinkActive="active" [ngClass]="{'active': panelActive && panelStep === 1 }"><a
          [routerLink]="['/sets']">SETS</a></div>
      <div class="menus" (mouseenter)="activatePanel(4)" (mouseleave)="cancelPanel()" [routerLink]="['/charms']" fxHide
        fxShow.gt-sm routerLinkActive="active" [ngClass]="{'active': panelActive && panelStep === 4 }"><a
          [routerLink]="['/charms']">CHARMS</a></div>
      <div class="menus" (mouseenter)="activatePanel(5)" (mouseleave)="cancelPanel()" [routerLink]="['/chains']" fxHide
        fxShow.gt-sm routerLinkActive="active" [ngClass]="{'active': panelActive && panelStep === 5 }"><a
          [routerLink]="['/chains']">CHAINS</a></div>
    </div>
    <a [routerLink]="['/']" (click)="mobilePanelActive = false;">
      <div class="logo bg-logo1">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
          <path
            d="M25 0C11.2133 0 0 11.2133 0 25C0 38.7867 11.2133 50 25 50C38.7867 50 50 38.7867 50 25C50 11.2133 38.7867 0 25 0ZM38.8733 5.41L26.6467 31.3267L12.37 4.58333C16.0433 2.3 20.37 0.98 25 0.98C30.1667 0.98 34.9533 2.62667 38.8733 5.41ZM0.98 25C0.98 18.18 3.84 12.02 8.42 7.64667L24.11 36.7167L18.7033 48.18C8.50333 45.4033 0.98 36.0667 0.98 25ZM25 49.02C24.0033 49.02 23.02 48.95 22.0533 48.8333L41.6067 7.67333C46.17 12.05 49.02 18.1967 49.02 25.0033C49.02 38.2433 38.2433 49.02 25 49.02Z"
            fill="#090954">
          </path>
        </svg>
      </div>
    </a>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="30">
      <div class="menus" (mouseenter)="activatePanel(3)" (mouseleave)="cancelPanel()" [routerLink]="['/lookbook/ibiza']"
        fxHide fxShow.gt-sm routerLinkActive="active" [ngClass]="{'active': panelActive && panelStep === 3 }"><a
          [routerLink]="['/lookbook/ibiza']">LOOKBOOK</a></div>
      <div class="menus" [routerLink]="['/info/about']" routerLinkActive="active" fxHide fxShow.gt-sm><a
          [routerLink]="['/info/about']">THE
          BRAND</a>
      </div>      
      <div class="menus" (mouseenter)="activatePanel(2)" (mouseleave)="cancelPanel()" fxHide fxShow.gt-sm
        [ngClass]="{'active': panelActive && panelStep === 2 }">MORE</div>
    </div>
    <div class="navRight" fxLayout="row" fxLayoutAlign.gt-sm="start center" fxLayoutAlign="end center">
      <div class="navIcon bg-configurator" fxHide.gt-sm (click)="openConfigurator();mobilePanelActive = false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent"></rect>
          <g clip-path="url(#clip0)">
            <rect width="375" height="2070" transform="translate(-225 -20)" fill="white"></rect>
            <rect x="-225" y="-20" width="375" height="80" fill="white"></rect>
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1"></path>
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA"></path>
            <path
              d="M20 23.7333C12.1333 23.7333 6 21.0667 6 17.4667C6 14 12.1333 11.2 20 11.2C27.8667 11.2 34 13.8667 34 17.4667C34 21.0667 27.8667 23.7333 20 23.7333ZM20 12.6667C12.5333 12.6667 7.33333 15.2 7.33333 17.6C7.33333 20 12.5333 22.5333 20 22.5333C27.4667 22.5333 32.6667 20 32.6667 17.6C32.6667 15.2 27.4667 12.6667 20 12.6667Z"
              fill="#090954"></path>
            <path
              d="M30.1333 24.4C29.3333 24 28.4 24.2667 28 25.0667V25.2H27.8667C27.0667 24.8 26.1333 25.0667 25.7333 25.8667C25.3333 26.6667 25.6 27.6 26.4 28L29.3333 29.6L30.9333 26.6667C31.2 25.8667 30.9333 24.8 30.1333 24.4Z"
              fill="#090954"></path>
            <path
              d="M11.7333 29.8667C13.2061 29.8667 14.4 28.6728 14.4 27.2C14.4 25.7272 13.2061 24.5333 11.7333 24.5333C10.2606 24.5333 9.06668 25.7272 9.06668 27.2C9.06668 28.6728 10.2606 29.8667 11.7333 29.8667Z"
              fill="#090954"></path>
            <path
              d="M20 30.5333L18.1333 31.2L18.2667 29.3333L17.0667 27.7333L18.9333 27.2L20 25.6L21.0667 27.2L22.9333 27.7333L21.7333 29.3333L21.8667 31.2L20 30.5333Z"
              fill="#090954"></path>
            <path
              d="M20 24.6667C19.6 24.6667 19.3333 24.4 19.3333 24V22.4C19.3333 22 19.6 21.7333 20 21.7333C20.4 21.7333 20.6667 22 20.6667 22.4V24C20.6667 24.2667 20.4 24.6667 20 24.6667Z"
              fill="#090954"></path>
            <path
              d="M12.8 23.7333H12.6667C12.2667 23.6 12.1333 23.3333 12.1333 22.9333L12.6667 21.3333C12.8 20.9333 13.0667 20.8 13.4667 20.8C13.8667 20.9333 14 21.2 14 21.6L13.6 23.2C13.4667 23.6 13.2 23.7333 12.8 23.7333Z"
              fill="#090954"></path>
            <path
              d="M27.2 23.7333C26.9333 23.7333 26.6667 23.6 26.5333 23.2L26.1333 21.6C26 21.2 26.2667 20.9333 26.6667 20.8C27.0667 20.6667 27.3333 20.9333 27.4667 21.3333L27.8667 22.9334C28 23.3334 27.7333 23.6 27.3333 23.7333H27.2Z"
              fill="#090954"></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="2070" fill="white" transform="translate(-225 -20)"></rect>
            </clipPath>
          </defs>
        </svg>
        <p class="configurator_num_items" (click)="openConfigurator();mobilePanelActive = false;"
          [hidden]="!(configuratorItems!=0 && configuratorItems!=undefined)">
          {{configuratorItems}}
        </p>
      </div>
      <div class="navIcon bg-profile" (click)="openAccountPopup();mobilePanelActive = false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent" />
          <g clip-path="url(#clip0)">
            <rect width="375" height="2070" transform="translate(-274 -20)" fill="white" />
            <rect x="-274" y="-20" width="375" height="80" fill="white" />
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1" />
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA" />
            <path
              d="M20 20C23.3137 20 26 17.3137 26 14C26 10.6863 23.3137 8 20 8C16.6863 8 14 10.6863 14 14C14 17.3137 16.6863 20 20 20Z"
              fill="#FDF4F1" />
            <path
              d="M20 9.33333C22.5333 9.33333 24.6667 11.4667 24.6667 14C24.6667 16.5333 22.5333 18.6667 20 18.6667C17.4667 18.6667 15.3333 16.5333 15.3333 14C15.3333 11.4667 17.4667 9.33333 20 9.33333ZM20 8C16.6667 8 14 10.6667 14 14C14 17.3333 16.6667 20 20 20C23.3333 20 26 17.3333 26 14C26 10.6667 23.3333 8 20 8Z"
              fill="#090954" />
            <path
              d="M28 30.6667H12C11.2 30.6667 10.6667 30 10.6667 29.3333C10.6667 24.9333 14.2667 21.3333 18.6667 21.3333H21.3333C25.7333 21.3333 29.3333 24.9333 29.3333 29.3333C29.3333 30 28.6667 30.6667 28 30.6667Z"
              fill="#FDF4F1" />
            <path
              d="M21.3333 22.6667C25.0667 22.6667 28 25.6 28 29.3333H12C12 25.6 14.9333 22.6667 18.6667 22.6667H21.3333ZM21.3333 21.3333H18.6667C14.2667 21.3333 10.6667 24.9333 10.6667 29.3333C10.6667 30 11.3333 30.6667 12 30.6667H28C28.6667 30.6667 29.3333 30 29.3333 29.3333C29.3333 24.9333 25.7333 21.3333 21.3333 21.3333Z"
              fill="#090954" />
            <path
              d="M18 14.8C18.4418 14.8 18.8 14.4418 18.8 14C18.8 13.5582 18.4418 13.2 18 13.2C17.5582 13.2 17.2 13.5582 17.2 14C17.2 14.4418 17.5582 14.8 18 14.8Z"
              fill="#090954" />
            <path
              d="M22 14.8C22.4418 14.8 22.8 14.4418 22.8 14C22.8 13.5582 22.4418 13.2 22 13.2C21.5582 13.2 21.2 13.5582 21.2 14C21.2 14.4418 21.5582 14.8 22 14.8Z"
              fill="#090954" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="2070" fill="white" transform="translate(-274 -20)" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="navIcon cartAnchor" [routerLink]="['/cart']" (click)="mobilePanelActive = false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <rect width="40" height="40" fill="transparent" />
          <g clip-path="url(#clip0)">
            <rect width="375" height="2070" transform="translate(-324 -20)" fill="white" />
            <rect x="-324" y="-20" width="375" height="80" fill="white" />
            <path
              d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z"
              fill="#FDF4F1" />
            <path
              d="M20 1.33333C30.2667 1.33333 38.6667 9.73333 38.6667 20C38.6667 30.2667 30.2667 38.6667 20 38.6667C9.73333 38.6667 1.33333 30.2667 1.33333 20C1.33333 9.73333 9.73333 1.33333 20 1.33333ZM20 0C8.93333 0 0 8.93333 0 20C0 31.0667 8.93333 40 20 40C31.0667 40 40 31.0667 40 20C40 8.93333 31.0667 0 20 0Z"
              fill="#BBD1EA" />
            <path
              d="M25.3333 29.6H14.6667C14.2667 29.6 14 29.3333 14 28.9333L12.6667 15.6C12.6667 15.4667 12.6667 15.2 12.8 15.0667C12.9333 14.9333 13.0667 14.8 13.3333 14.8H26.6667C26.8 14.8 27.0667 14.9333 27.2 15.0667C27.3333 15.2 27.3333 15.3333 27.3333 15.6L26 28.9333C26 29.3333 25.7333 29.6 25.3333 29.6ZM15.3333 28.2667H24.8L26 16.2667H14.1333L15.3333 28.2667Z"
              fill="#090954" />
            <path
              d="M23.3333 18C22.9333 18 22.6667 17.7333 22.6667 17.3333V12.8C22.6667 11.3333 21.4667 10.1333 20 10.1333C18.5333 10.1333 17.3333 11.3333 17.3333 12.8V17.3333C17.3333 17.7333 17.0667 18 16.6667 18C16.2667 18 16 17.7333 16 17.3333V12.8C16 10.5333 17.7333 8.79999 20 8.79999C22.2667 8.79999 24 10.5333 24 12.8V17.3333C24 17.7333 23.7333 18 23.3333 18Z"
              fill="#090954" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="375" height="2070" fill="white" transform="translate(-324 -20)" />
            </clipPath>
          </defs>
        </svg>
        <p class="cart_num_items" [routerLink]="['/cart']" [hidden]="!(cartItems!=0 && cartItems!=undefined)">
          {{cartItems}}
        </p>
      </div> 
    </div>
  </div>
  <div class="panelContainer" fxLayout="row" fxLayoutAlign="center center" [hidden]="!panelActive"
    (mouseleave)="panelActive = false" (clickOutside)="deActivatePanel()" [@enterAnimation]="currentState">
    <ng-container>
      <div class="panel-subs" fxLayout="column" fxLayoutAlign="start start" [hidden]="panelStep !== 1">
        <div><a [routerLink]="['/sets/new-in']">NEW IN</a></div>
        <div><a [routerLink]="['/sets']">All</a></div>
        <div *ngFor="let cat of panelCat.sets"><a [routerLink]="['/sets/' + cat.se_name]">{{cat.name}}</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/sets']"
        [hidden]="panelStep !== 1">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/setsCover_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/setsCover_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/setsCover_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/setsCover_190.jpeg"
              type="image/jpg">
            <img class="panel-image" loading="lazy" src="https://files.y.jewelry/assets/img/nav/setsCover.jpeg" alt="setsCover">
          </picture>
        </div>
        <div class="panel-text"><a [routerLink]="['/sets']">Discover The Sets</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/your-set']"
        [hidden]="panelStep !== 1">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/sets.jpeg" alt="sets">
          </picture>
        </div>
        <div><a [routerLink]="['/your-set']">Create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="panel-subs" fxLayout="column" fxLayoutAlign="start start" [hidden]="panelStep !== 4">
        <div><a [routerLink]="['/charms/new-in']">NEW IN</a></div>
        <div [routerLink]="['/charms']">All</div>
        <div *ngFor="let cat of panelCat.charms" [routerLink]="['/charms/' + cat.se_name]"><a
            [routerLink]="['/charms/' + cat.se_name]">{{cat.name}}</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/charms']"
        [hidden]="panelStep !== 4">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/charmsCover_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/charmsCover_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/charmsCover_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/charmsCover_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/charmsCover.jpeg" alt="charmsCover">
          </picture>
        </div>
        <div><a [routerLink]="['/charms']">Discover the Charms</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/your-set']"
        [hidden]="panelStep !== 4">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/sets.jpeg" alt="sets">
          </picture>
        </div>
        <div><a [routerLink]="['/your-set']">Create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="panel-subs" fxLayout="column" fxLayoutAlign="start start" [hidden]="panelStep !== 5">
        <div><a [routerLink]="['/chains/new-in']">NEW IN</a></div>
        <div [routerLink]="['/chains']">All</div>
        <div *ngFor="let cat of panelCat.chains" [routerLink]="['/chains/' + cat.se_name]"><a
            [routerLink]="['/chains/' + cat.se_name]">{{cat.name}}</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/chains']"
        [hidden]="panelStep !== 5">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/chainsCover_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/chainsCover_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/chainsCover.jpeg" alt="chainsCover">
          </picture>
        </div>
        <div class="panel-text"><a [routerLink]="['/chains']">Discover The Chains</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/your-set']"
        [hidden]="panelStep !== 5">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/sets.jpeg" alt="sets">
          </picture>
        </div>
        <div><a [routerLink]="['/your-set']">Create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/chain-of-charms']"
        [hidden]="panelStep !== 2">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/chainOfCharms.jpeg"
              alt="chainOfCharms">
          </picture>
        </div>
        <div><a [routerLink]="['/chain-of-charms']">Chain of care</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/gift-voucher']"
        [hidden]="panelStep !== 2">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/gift_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/gift_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/gift_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/gift_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/gift.jpeg" alt="gift">
          </picture>
        </div>
        <div><a [routerLink]="['/gift-voucher']">make a gift</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/tellmey']"
        [hidden]="panelStep !== 2">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/tellmey_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/tellmey_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/tellmey_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/tellmey_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/tellmey.jpeg" alt="tellmey">
          </picture>
        </div>
        <div><a [routerLink]="['/tellmey']">Tell me Y</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/your-set']"
        [hidden]="panelStep !== 2">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/sets_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/sets_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/sets.jpeg" alt="sets">
          </picture>
        </div>
        <div><a [routerLink]="['/your-set']">Create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div *ngIf="masoomView" class="panel-div" fxLayout="column" fxLayoutAlign="start start"
        [routerLink]="['/masoomfory']" [hidden]="panelStep !== 3">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/mmxy/cover.jpg" alt="mmxy">
          </picture>
        </div>
        <div class="panel-text"><a [routerLink]="['/masoomfory']">{{masoomText}}</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/lookbook/ibiza']"
        [hidden]="panelStep !== 3">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/ibiza_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/ibiza_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/ibiza_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/ibiza_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/ibiza.jpeg" alt="ibiza">
          </picture>
        </div>
        <div class="panel-text"><a [routerLink]="['/lookbook/ibiza']">Ibiza vacation</a></div>
      </div>
      <div class="panel-div" fxLayout="column" fxLayoutAlign="start start" [routerLink]="['/lookbook/paris']"
        [hidden]="panelStep !== 3">
        <div class="imgDiv">
          <picture *ngIf="panelActive">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/paris_280.webp"
              type="image/webp">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/paris_190.webp"
              type="image/webp">
            <source media="(min-width: 650px)" srcset="https://files.y.jewelry/assets/img/nav/paris_280.jpeg"
              type="image/jpg">
            <source media="(min-width: 300px)" srcset="https://files.y.jewelry/assets/img/nav/paris_190.jpeg"
              type="image/jpg">
            <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/paris.jpeg" alt="paris">
          </picture>
        </div>
        <div class="panel-text"><a [routerLink]="['/lookbook/paris']">A day in paris</a></div>
      </div>
    </ng-container>
  </div>
  <div class="mobilePanelConatiner" id="mobilePanelConatiner" fxLayout="column" fxLayoutAlign="start start" [hidden]="!mobilePanelActive"
    [@enterMobileAnimation]="currentState2">
    <ng-container>
      <div class="menus" (click)="mobilePanelStep = 1" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0">
        <picture>
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/sets.jpg" alt="sets" loading="lazy">
        </picture>
        <div>sets</div>
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/more.png" alt="more"
          *ngIf="mobilePanelActive" />
      </div>
      <div class="menus" (click)="mobilePanelStep = 4" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0">
        <picture>
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/charms.jpg" alt="charms" loading="lazy">
        </picture>
        <div>charms</div>
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/more.png" alt="more"
          *ngIf="mobilePanelActive" />
      </div>
      <div class="menus" (click)="mobilePanelStep = 5" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0">
        <picture>
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/chains.jpg" alt="chains" loading="lazy">
        </picture>
        <div>chains</div>
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/more.png" alt="more"
          *ngIf="mobilePanelActive" />
      </div>
      <div class="menus" (click)="scrollTop();mobilePanelStep = 3;" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0">
        <picture>
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/lookbook.jpg" alt="lookbook" loading="lazy">
        </picture>
        <div>lookbook</div>
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/more.png" alt="more"
          *ngIf="mobilePanelActive" />
      </div>
      <div class="menus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0" [routerLink]="['/info/about']">
        <!-- <video class="panel-image" playsinline loop [muted]="'muted'" preload="auto" muted="muted" [poster]="1"
            inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }"
            (inViewportAction)="onIntersection($event)">
            <source [src]="item.src" type="video/mp4">
          </video> -->
          <!-- <video  playsinline loop [muted]="'muted'" preload="auto"  
          [poster]="'https://files.y.jewelry/0049029_img2_mobile.jpeg'" 
          inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }"
          (inViewportAction)="onIntersection($event)"       
               style="object-fit: cover;height: 180px;width: 180px;"
               class="panel-image"> 
              <source src="https://files.y.jewelry/assets/img/2020/00.mp4" type="video/mp4">
          </video> -->
         <picture> 
           <img class="panel-image" src="https://files.y.jewelry/assets/img/2020/00.png" 
           style="object-fit: cover;height: 113px;width: 180px;" alt="brand" loading="lazy">               
        </picture> 
        <div [routerLink]="['/info/about']"><a [routerLink]="['/info/about']">The Brand</a></div>
      </div>
      <div class="menus" (click)="scrollTop();mobilePanelStep = 2" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 0">
        <picture>
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/service.jpg" loading="lazy" alt="service">
        </picture>
        <div>More</div>
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/more.png" alt="more"
          *ngIf="mobilePanelActive" />
      </div>
    </ng-container>
    <ng-container>
      <div class="menus active" (click)="mobilePanelStep = 0" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 1">
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/less.png" alt="less"
          *ngIf="mobilePanelActive" />
        <div class="text-center">sets</div>
        <div class="openMore"></div>
      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 1" [routerLink]="['/sets/new-in']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/sets/new_in.jpg" alt="new_in" loading="lazy">
        </picture>
        <div><a [routerLink]="['/sets/new-in']">NEW IN</a></div>
      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 1" [routerLink]="['/sets']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/sets/All.jpg" alt="All" loading="lazy">
        </picture>
        <div [routerLink]="['/sets']">All</div>
      </div>
      <div class="subMenus" [routerLink]="['/sets/' + cat.se_name]" (click)="mobilePanelActive = false"
        *ngFor="let cat of panelCat.sets" [routerLink]="['/sets/' + cat.se_name]" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 1">
        <picture *ngIf="mobilePanelActive">
          <img *ngIf="cat.image" class="panel-image" src="{{cat.image.src}}" alt="{{cat.se_name}}" loading="lazy">
          <img *ngIf="!cat.image" class="panel-image"
            src="https://files.y.jewelry/assets/img/nav/2020/sets/{{cat.se_name}}.jpg" alt="{{cat.se_name}}" loading="lazy">
        </picture>
        <div><a [routerLink]="['/sets/' + cat.se_name]">{{cat.name}}</a></div>

      </div>
      <!-- <div (click)="mobilePanelActive = false" [routerLink]="['/sets']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 1">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/img/nav/setsCover_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/setsCover_190.jpeg" type="image/jpg">
          <img class="panel-image" style="height: 100px;" src="https://files.y.jewelry/assets/img/nav/setsCover.jpeg" alt="setsCover" loading="lazy">
        </picture>
        <div class="panel-text"><a [routerLink]="['/sets']">Discover The Sets</a></div>
      </div> -->
      <div (click)="mobilePanelActive = false" [routerLink]="['/your-set']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 1">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.jpg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/newUI/sets.jpg" alt="sets" loading="lazy">
        </picture>
        <div><a [routerLink]="['/your-set']">create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="menus active" (click)="mobilePanelStep = 0" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 4">
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/less.png" alt="less"
          *ngIf="mobilePanelActive" />
        <div class="text-center">charms</div>
        <div class="openMore"></div>
      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 4" [routerLink]="['/charms/new-in']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/charms/new-in.jpg" alt="new-in" loading="lazy">
        </picture>
        <div><a [routerLink]="['/charms/new-in']">NEW IN</a></div>

      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 4" [routerLink]="['/charms']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/charms/All.jpg" alt="All" loading="lazy">
        </picture>
        <div [routerLink]="['/charms']">All</div>

      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" *ngFor="let cat of panelCat.charms"
        [routerLink]="['/charms/' + cat.se_name]" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 4">
        <picture *ngIf="mobilePanelActive">
          <img *ngIf="cat.image" class="panel-image" src="{{cat.image.src | changeSrcExtensionToNav }}" alt="{{cat.name}}">
          <img *ngIf="!cat.image" class="panel-image"
            src="https://files.y.jewelry/assets/img/nav/2020/charms/{{cat.se_name}}.jpg" alt="{{cat.name}}" loading="lazy">
        </picture>
        <div><a [routerLink]="['/charms/' + cat.se_name]">{{cat.name}}</a></div>
      </div>
      <!-- <div (click)="mobilePanelActive = false" [routerLink]="['/charms']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 4">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.jpeg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/chainsCover.jpeg" alt="chainsCover" loading="lazy">
        </picture>
        <div><a [routerLink]="['/charms']">Discover the Charms</a></div>
      </div> -->
      <div (click)="mobilePanelActive = false" [routerLink]="['/your-set']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 4">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.jpg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/newUI/sets.jpg" alt="sets" loading="lazy">
        </picture>
        <div><a [routerLink]="['/your-set']">create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="menus active" (click)="mobilePanelStep = 0" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 5">
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/less.png" alt="less"
          *ngIf="mobilePanelActive" />
        <div class="text-center">Chains</div>
        <div class="openMore"></div>
      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 5" [routerLink]="['/chains/new-in']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/Chains/new_in.jpeg" alt="new-in" loading="lazy">
        </picture>
        <div><a [routerLink]="['/chains/new-in']">NEW IN</a></div>

      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 5" [routerLink]="['/chains']">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/2020/Chains/All.jpeg" alt="All" loading="lazy">
        </picture>
        <div>All</div>

      </div>
      <div class="subMenus" (click)="mobilePanelActive = false" *ngFor="let cat of panelCat.chains"
        [routerLink]="['/chains/' + cat.se_name]" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 5">
        <picture *ngIf="mobilePanelActive">
          <img *ngIf="cat.image" class="panel-image" src="{{cat.image.src}}" alt="{{cat.name}}" loading="lazy">
          <img *ngIf="!cat.image" class="panel-image"
            src="https://files.y.jewelry/assets/img/nav/2020/Chains/{{cat.name}}.jpeg" alt="{{cat.name}}" loading="lazy">
        </picture>
        <div><a [routerLink]="['/chains/' + cat.se_name]">{{cat.name}}</a></div>
      </div>
      <!-- <div (click)="mobilePanelActive = false" [routerLink]="['/chains']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 5">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainsCover_190.jpeg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/chainsCover.jpeg" alt="chainsCover" loading="lazy">
        </picture>
        <div class="panel-text"><a [routerLink]="['/chains']">Discover The Chains</a></div>
      </div> -->
      <div (click)="mobilePanelActive = false" [routerLink]="['/your-set']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 5">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.jpg" type="image/jpg">
          <img class="panel-image" style="height: 100px;" src="https://files.y.jewelry/assets/newUI/sets.jpg" loading="lazy" alt="sets">
        </picture>
        <div><a [routerLink]="['/your-set']">Create your own sets</a></div>
      </div>
    </ng-container>
    <ng-container>
      <div class="menus active" (click)="mobilePanelStep = 0" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 2">
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/less.png" alt="less"
          *ngIf="mobilePanelActive" />
        <div class="text-center">services</div>
        <div class="openMore"></div>
      </div>
      <div (click)="mobilePanelActive = false" [routerLink]="['/chain-of-charms']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 2">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/chainOfCharms_190.jpeg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/chainOfCharms.jpeg" loading="lazy" alt="chainOfCharms">
        </picture>
        <div><a [routerLink]="['/chain-of-charms']">Chain of care</a></div>

      </div>
      <div (click)="mobilePanelActive = false" class="subMenus" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 2">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/img/nav/gift_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/gift_190.jpeg" type="image/jpg">
          <img class="panel-image" src="https://files.y.jewelry/assets/img/nav/gift.jpeg" loading="lazy" alt="gift">
        </picture>
        <div><a [routerLink]="['/gift-voucher']">make a gift</a></div>
      </div>
      <div (click)="mobilePanelActive = false" [routerLink]="['/tellmey']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 2">
        <picture *ngIf="mobilePanelActive">
          <!-- <source srcset="https://files.y.jewelry/assets/img/nav/tellmey_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/tellmey_190.jpeg" type="image/jpg"> -->
          <img class="panel-image" src="https://files.y.jewelry/0049070_01-03-E-t.jpeg" loading="lazy" alt="tellmey">
        </picture>
        <div><a [routerLink]="['/tellmey']">Tell me Y</a></div>

      </div>
      <div (click)="mobilePanelActive = false" [routerLink]="['/your-set']" class="subMenus" fxLayout="row"
        fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 2">
        <picture *ngIf="mobilePanelActive">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/newUI/sets_190.jpg" type="image/jpg">
          <img class="panel-image" style="height: 100px;" src="https://files.y.jewelry/assets/newUI/sets.jpg" alt="sets" loading="lazy">
        </picture>
        <div><a [routerLink]="['/your-set']">create your own sets</a></div>

      </div>
    </ng-container>
    <ng-container>
      <div class="menus active" (click)="mobilePanelStep = 0" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 3">
        <img class="openMore" src="https://files.y.jewelry/assets/img/nav/less.png" alt="less"
          *ngIf="mobilePanelActive" />
        <div class="text-center">lookbook</div>
        <div class="openMore"></div>
      </div>
      <div *ngIf="masoomView" (click)="mobilePanelActive = false" (click)="mobilePanelStep = 0"
        [routerLink]="['/masoomfory']" class="subMenus" fxLayout="row" fxLayoutAlign="space-between center"
        [hidden]="mobilePanelStep !== 3">
        <picture *ngIf="mobilePanelActive">
          <img class="panel-image"
            src="https://files.y.jewelry/assets/img/2020/lookbooklanding/image+7.jpg" alt="mmxy" loading="lazy">
        </picture>
        <div><a [routerLink]="['/masoomfory']">{{masoomText}}</a></div>
      </div>
      <div (click)="mobilePanelActive = false" (click)="mobilePanelStep = 0" [routerLink]="['/lookbook/ibiza']"
        class="subMenus" fxLayout="row" fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 3">
        <picture *ngIf="mobilePanelActive"> 
          <img class="panel-image" 
            src="https://files.y.jewelry/assets/img/2020/lookbooklanding/image+8.jpg" alt="ibiza" loading="lazy" />
        </picture>
        <div><a [routerLink]="['/lookbook/ibiza']">Ibiza vacation</a></div>

      </div>
      <div (click)="mobilePanelActive = false" (click)="mobilePanelStep = 0" [routerLink]="['/lookbook/paris']"
        class="subMenus" fxLayout="row" fxLayoutAlign="space-between center" [hidden]="mobilePanelStep !== 3">
        <picture *ngIf="mobilePanelActive">
          <!-- <source srcset="https://files.y.jewelry/assets/img/nav/paris_190.webp" type="image/webp">
          <source srcset="https://files.y.jewelry/assets/img/nav/paris_190.jpeg" type="image/jpg"> -->
          <img class="panel-image" src="https://files.y.jewelry/assets/img/2020/lookbooklanding/image+9.jpg" loading="lazy" alt="paris">
        </picture>
        <div><a [routerLink]="['/lookbook/paris']">a day in Paris</a></div>

      </div>
    </ng-container>
  </div>
  <ng-container>
    <app-product-search [hidden]="!searchOn" [@enterSearchAnimation]="currentState3"></app-product-search>
  </ng-container>
</div>