.navContainer {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  // overflow: hidden;
  font-family: belvue;
  color: #090954;
  z-index: 9999999;
  top: 0;
  text-align: left;
  height: 80px;
  padding: 10px 10px;
  .navIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
  }
  .navIcon1 {
    cursor: pointer;
    margin-right: 10px;
  } 
  .logo {
    width: 50px;
    height: 50px;
  }

  .menus {
    cursor: pointer;
    font-family: Belvue;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    // margin-right: 20px;
    margin-left: 20px;
    height: 100%;


    &.active {
      border-bottom: 2px solid #bbd1ea;
      border-top: 2px solid #bbd1ea;
    }
  }

  .cart_num_items {
    position: absolute;
    right: 1px;
    top: 22px;
    background: #090954;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    line-height: 10px;

    &.mobile {
      right: 35px !important;
    }
  }

  .configurator_num_items {
    position: relative;

    bottom: 27px;
    background: #090954;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    left: 27px !important;

    &.mobile {
      left: 113px !important;
    }
  }
}

.panelContainer {
  position: fixed;
  top: 60px;
  width: 100vw;
  background: #fcf4f0;
  padding: 0px 10px;
  z-index: 999999;

  .panel-div {
    cursor: pointer;
    padding: 20px 10px;
    height: 100%;
    min-height: 240px;
    text-transform: uppercase;

    div {
      font-family: Belvue;
    }
  }

  .panel-subs {
    margin: 20px 10px;
    padding: 20px;
    color: #090954;
    background: #ffffff;
    border-radius: 5px;
    height: 100%;
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;

    div {
      cursor: pointer;
      text-transform: uppercase;
      font-family: Belvue;
      font-size: 14px;
      line-height: 30px;
    }
  }

  .panel-image {
    width: calc(100% - 20px);
    max-width: 280px;
    border-radius: 5px;
    min-height: 160px;
    max-height: 160px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 7px;
  }

  .panel-text {
    font-family: Belvue;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.mobilePanelConatiner {
  top: 80px;
  width: 100%;
  min-height: calc(100vh - 80px);
  background: #FFFFFF;
  z-index: 999999;
  display: block;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  .menus {
    min-height: 60px;
  }

  .menus:first-child {
    border-top: 1px solid #bbd1ea;
  }

  .menus,
  .subMenus {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #bbd1ea;
    padding-right: 10px;

    div {
      width: calc(100% - 10px);
      font-family: Belvue;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #090954;
    }

    .openMore {
      width: 10px;
      height: 20px;
      margin-left: 10px;
    }

    &.active {
      background: #bbd1ea;
      color: #090954;
    }
    .panel-image {
      margin-right: 20px;
      min-height: 100px; 
    }
  }
  .subMenus {
    div {
      width: calc(50% - 10px) !important;
    }
  }
}

.text-center {
  text-align: center;
}

.w-111 {
  width: 111px;
}

.cartAnchor {
  width: 40px !important;
  position: relative;
  height: 40px !important;
  margin-right: 10px;
}


.imgDiv {
  max-width: 280px;
  overflow: hidden;

  img {
    transition: transform .5s ease;
  }

  img:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 660px) {
  .navRight {
    min-width: 150px;
  }
}

img.panel-image {
  max-width: 180px;
  margin-bottom: -5px;
  min-width: 180px;
  object-fit: cover;
}

.navRight { 
  margin-left: 10px;
  position: relative;
}

.iconwidth {
  width: 40px;
  height: 40px;
}

//gt-sm Media Query 
@media (min-width: 960px){
  
  .navContainer
  {
    height: 70px;
    padding: 0px 10px;
    .navIcon
    .navIcon1{
      width: 30px;
      height: 30px;
    }
    .navIcon svg {
      width: 30px;  
      height: 30px;
    }
    .navIcon1 svg {
      width: 30px;  
      height: 30px;
    }

    .cartAnchor {
      width: 40px !important;
      position: relative;
      height: 40px !important;
    }
    .cartAnchor svg{      
      width: 30px !important; 
      height: 30px !important;
    }
    .configurator_num_items{
      position: absolute;  
      bottom: 0 !important;
      top: 11px !important;
      left: 21px !important;
    }  
    .cart_num_items{
      top: 10px !important;
      right: 10px !important;
       }
    .menu{
      font-family: BelweSansLight !important;
      line-height: unset !important;

    }
    
  }
  
}