<div class="heading w100" mat-dialog-header fxLayout="row" fxLayoutAlign="space-between start">
  <div>This product has been added to curator:</div>
  <div>
    <img class="cursorPointer" (click)="onNoClick()" src="https://files.y.jewelry/assets/img/configurator/closeIcon.png"
      width="20" height="20" alt="close" />
  </div>
</div>
<div mat-dialog-content class="previewContainer" fxLayout="column" fxLayoutAlign="start end">
  <div class="cartItem" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="space-between center">
    <div>
      <a [routerLink]="['/', data.se_name]"><img class="cursorPointer lazy mb-6"
          [src]="data.images[0].src | changeSrcExtension: '_100.jpeg'" [alt]="data.images[0].alt"
          [title]="data.images[0].title" width="200" height="200" /></a>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="productName"><a [routerLink]="['/', data.se_name]">{{data.name}}</a></div>
      <div class="product_price nowrap text-center" *ngIf="data && data.available_for_pre_order">
        {{data.price_model.price}}</div>
      <div class="product_price nowrap text-center" *ngIf="data && !data.available_for_pre_order">
        <span
          [ngClass]="{'priceWithoutDiscount': data.price_model.price_with_discount}">{{data.price_model.price}}</span><br />
        {{data.price_model.price_with_discount}}</div>
    </div>
  </div>
</div>
<div mat-dialog-footer fxLayout="row" fxLayoutAlign="space-between start">
  <button class="btn btn-link" (click)="onNoClick()">Continue</button>
  <button class="btn btn-light-blue" (click)="openCurator()">Curator</button>
</div>
