<h1 mat-dialog-title>forgot password</h1>
<div class="contentContainer" mat-dialog-content>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100" fxFlex.gt-sm="100">
      <input matInput type="text" placeholder="Email *" [(ngModel)]="email">
    </mat-form-field>
    <mat-hint *ngIf="showMsg">
      {{Msg}}
    </mat-hint>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button *ngIf="sent" color="primary" (click)="onNoClick()" cdkFocusInitial>Ok</button>
  <button mat-button *ngIf="!sent" color="primary" (click)="sendNewPassword()" cdkFocusInitial>Proceed</button>
  <button mat-button *ngIf="!sent" color="secondary" (click)="onNoClick()">Cancel</button>
</div>
