<h1 mat-dialog-title>Edit Account</h1>
<div mat-dialog-content [formGroup]="form">
  <div class="mb-10" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-radio-group aria-labelledby="gender" class="gender" formControlName="gender">
      <mat-radio-button class="example-radio-button" value="G">
        Ms
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="M">
        Mr
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput type="text" placeholder="First Name" formControlName="first_name">
      <mat-hint class="error">
        <span *ngIf="!form.get('first_name').valid && form.get('first_name').touched">First Name is
          <strong>required</strong></span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput type="text" placeholder="Last Name" formControlName="last_name">
      <mat-hint class="error">
        <span *ngIf="!form.get('last_name').valid && form.get('last_name').touched">Last Name is
          <strong>required</strong></span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput type="text" placeholder="Mobile" formControlName="mobile">
      <mat-hint class="error">
        <span *ngIf="!form.get('mobile').valid && form.get('mobile').touched">Please enter mobile number in correct
          format.</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput type="text" placeholder="Email" formControlName="email">
      <mat-hint class="error">
        <span *ngIf="!form.get('email').valid && form.get('email').touched">Please enter valid Email</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput [type]="showPassword1 ? 'text' : 'password'" placeholder="Password" formControlName="password">
      <button mat-button (click)="showPassword1 = true" (mouseleave)="showPassword1 = false" matSuffix mat-icon-button
        aria-label="Clear">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      <mat-hint class="error">
        <span *ngIf="!form.get('cPassword').valid && form.get('cPassword').touched">Please re-enter the password</span>
        <span *ngIf="form.errors?.password && form.get('cPassword').touched">{{form.errors.zipCode.message}}</span>
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="100">
      <input matInput [type]="showPassword2 ? 'text' : 'password'" placeholder="Confirm Password"
        formControlName="cPassword">
      <button mat-button (click)="showPassword2 = true" (mouseleave)="showPassword2 = false" matSuffix mat-icon-button
        aria-label="Clear">
        <mat-icon>check_circle</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="date_of_birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="saveDetails()" cdkFocusInitial>Save</button>
  <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
</div>
