.TestimonyPageContainer {
  width: 100vw;
  min-height: 90vh;
  margin-bottom: 20px;
  .title{  
    font-family: ApercuLight;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #090954;  
    margin: 20px 20px 26px 20px;
  }
}
.w-100-20{
  width: calc(100% - 20px)
}
  
.testimonyPageImage{
  width: 100%;  
  position: relative;
  background-image:  url('https://files.y.jewelry/assets/img/testimonials/cover.png');
  background-position: center;
  background-size: cover;
  min-height: 60vh;  
  h1 {
    font-family: BelweSansLight;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: unset;
  }
 
}
.testimonyPageImage1{  
  width: 100%; 
  position: relative; 
  height: 220px;
  h1 {
    font-family: BelweSansLight;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 70%;
    position: absolute;
  }
   
 .start1{     
  width: 89px;
  height: 93px;
  position: absolute;
  background: url('https://files.y.jewelry/assets/img/2020/testimonials/Frame1.svg');
  background-repeat: no-repeat;
  top: 3.8%;
  right: 2.6%;
 }
 .start2{
  width: 59px;
  height: 60px;
  position: absolute;
  background: url('https://files.y.jewelry/assets/img/2020/testimonials/Frame2.svg');
  background-repeat: no-repeat;    
  left: 5.6%;
  bottom: 20%;
 }
 .start3{
  width: 36px;
  height: 38px;
  position: absolute;
  background: url('https://files.y.jewelry/assets/img/2020/testimonials/Group3.svg');
  background-repeat: no-repeat; 
  left: 24%;
  bottom: 8%;
 }
 
}
.rating{
  margin-bottom: 26px;

  svg{
    margin-left: 10px;
  }
  svg:first-child{
    margin-left: 0px;
  }
  
}
.ml-10{
  margin-left: 10px;
}
.cursorPointer{
  cursor: pointer;
}
.error{
  color: red;
  width: 100%;
}
.btn
{
  min-height: 40px; 
  display: block;
  border-radius: 20px;
  border: none; 
  text-align: center;
  text-transform: uppercase;  
  letter-spacing: 0.1em;
  align-items: center;
  width: 174px;
}
.btn-blue{
  background-color: #090954;  
  margin-top: 20px;  
  font-family: ApercuLight;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px; 
  color: #BFD1E8;
}
.btn.btn-blue:disabled{
  cursor: not-allowed;
}
.btn-center{
  display: flex;
  justify-content: center;
}
label {
  cursor: pointer; 
}

#picture {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.upload-div{
  display: flex;  
 background: #FBF4F1;
 cursor: pointer;
 margin-top: 28px; 
}
.left{
   background: white;
   padding: 10px; 
   box-sizing: border-box;
   position: relative
}
.left:before{
  position: absolute;
  content: " ";
  padding: 20px 20px 20px 18px;
  left: 0;
  top: 0;
  border-radius: 5px;
  background: linear-gradient(to right,#BFD1E8 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#BFD1E8 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #BFD1E8 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#BFD1E8 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
}
.rigth{ 
 width: 100%;
 padding: 10px;
 background: white;
 margin-left: 20px;
 border-radius: 5px;
 font-family: Apercu;
 font-style: normal;
 font-weight: normal;
 font-size: 14px; 
 color: #BFD1E8;
}
.w-80vw{
  width: 80vw;
}
.br-5{
  border-radius:5px;
}
.mwidthunset{
  max-width:unset;
} 
.name-text{
  font-family: ApercuLight;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  height: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #BFD1E8;
}
.mat-input-placeholder{
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;  
  color: #090954;
}
.mat-input-textarea::placeholder{
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgb(191, 209, 232);
}
.mat-input-textarea{
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;  
  color: #090954;
}