.ReviewContainer{
    width: 100%;
    padding-bottom: 30px; 
    color: #090954;
    margin-right: 10px;
}
.content-container{
    width: 355px;
    margin: auto;
    text-align: center;
    background-color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-radius: 10px;
    .h-201{
        height: 201px;
    }
    .content{        
        margin: 0px;
        padding: 20px;
        width: 80vw;
    }
    .rating-start{
        display: flex;
        justify-content: center;
        padding-top: 20px !important;
    }
    .text{          
        margin: 20px auto;
        font-family: BelweSansLight;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #090954;
        max-width: 253px;
    }
    .by{
        font-family: ApercuLight;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #090954;
        padding-bottom: 14px
    }
    .date{
        font-family: ApercuLight;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 8px;
        text-align: center;
        color: #090954;
        padding-bottom: 14px;
    }
}

.mat-card{
       padding: 0px !important;
}
.mat-card-content{
    min-width: 355px !important;
}
  .mr-4{
      margin-right: 4px;
  }