<div fxLayout="column"  
 fxHide fxShow.gt-sm>
<div  id="divWrapper" fxLayout="row"  class="divWrapper" #divWrapper>      
  <div *ngFor="let slide of slidesStore">
    <mat-card>
      <ng-container  *ngIf="carouselType === 'IMG'">
        <div (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event, slide.link)"  class="change-ratio"
        [routerLink]="[slide.link]">
          <picture>
            <!-- <source media="(min-width: 650px)" [srcset]="slide.src"> -->
            <img mat-card-image [src]="slide.mobileSrc" [alt]="slide.id" 
            width="100%" height="100%" loading="lazy">
          </picture>
        </div>  
      </ng-container>
       <mat-card-content class="card-content">
        <div [hidden]="slide.heading==='undefined'" class="about-content">
          <div class="main-heading">{{slide.heading | slice:0:40}}</div>
          <p class="content">{{slide.description| slice:0:140}}</p> 
          <button class="btn" (click)="LearnMore(slide.buttonLink)"><span class="btn-text">{{slide.buttonText}}</span></button>
          </div>          
      </mat-card-content>   
    </mat-card>   
  </div>
</div>
<div class="dotWrapper" *ngIf="DotChecker()"> 
      <ng-container *ngFor="let dotnumber of slidesStore.length | numberToArray">
        <ng-container *ngIf="(dotnumber===dotactive); else elseBlock">
          <div class="dot active" (click)="DotClick(dotnumber);"></div> 
        </ng-container>
        <ng-template #elseBlock>          
          <div class="dot" (click)="DotClick(dotnumber);"></div> 
        </ng-template>
      </ng-container>         
 </div>
</div>
<div fxLayout="column" fxHide.gt-sm>  
  <owl-carousel-o [ngClass]="{pad: padInit}" [options]="customOptions" #owlCar style="display: block;">
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">     
        <mat-card>
          <!-- <figure  class="change-ratio" *ngIf="carouselType === 'IMG'"> -->
            <ng-container  *ngIf="carouselType === 'IMG'">
            <div (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event, slide.link)"  
            class="change-ratio"
            [routerLink]="[slide.link]">
              <picture>
                <!-- <source media="(min-width: 650px)" [srcset]="slide.src"> -->
                <img mat-card-image [src]="slide.mobileSrc" [alt]="slide.id" 
                width="100%" height="100%" loading="lazy">
              </picture>
            </div>  
          </ng-container>
          <!-- </figure> -->
          <mat-card-content class="card-content">
            <div [hidden]="slide.heading==='undefined'" class="about-content">
              <div class="main-heading">{{slide.heading}}</div>
              <p class="content">{{slide.description}}</p> 
              <button class="btn" *ngIf="slide.buttonText&&slide.buttonLink" (click)="LearnMore(slide.buttonLink)"><span class="btn-text">{{slide.buttonText}}</span></button>
              </div>
            <div *ngIf="carouselType === 'TESTIMONY'" class="testimony" fxLayout="column" fxLayoutAlign="center center">
              <img class="qoute1" src="https://files.y.jewelry/assets/img/home/qoute2.png" alt="qoute">
              <p class="">"{{slide.review_text}}"</p>
              <img class="qoute2" src="https://files.y.jewelry/assets/img/home/qoute1.png" alt="qoute">
            </div>
          </mat-card-content>   
        </mat-card>   
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>