<div class="addressSetupDiv" fxLayout="column" fxLayoutAlign="start start">
  <div class="lineTitle">Shipping address</div>
  <div class="w-100" *ngIf="addresses.length > 0">
    <app-current-address [addresses]="addresses" [addressSelected]="shippingAddress"
      (addressSelectedEvent)="selectedShippingAddress($event)" (editAddressEvent)="editAddress($event)">
    </app-current-address>
  </div>
  <div class="text-center w-100 my-20" *ngIf="addresses.length === 0">
    <span>No addresses found</span>
  </div>
  <span class="btn-link cursorPointer" (click)="openAddressFrom()"><button mat-mini-fab>+</button> Add new shipping
    address</span>
</div>
