.profileContainer {
  width: 100vw;
  min-height: 90vh;
}

.profileImage {
  background-image: url("https://files.y.jewelry/assets/img/profile/profileCover.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;

  h1 {
    padding: 0px;
    margin: 0px;
    font-family: Belvue;
    font-size: 72px;
    line-height: 60px;
    color: #ffffff;
  }
}
.profileImage1{
  position: relative;
  h1{ 
    position: absolute;
    font-style: 'BelweSansLight';
    font-size: 36px;
    line-height: 60px; 
    display: flex;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
  }
 }

@media (max-width: 669px) {
  .navs {  
    div {
      padding: .4em;
    }
  }
}

@media (min-width: 670px) {
  .navs {  
    div {
      width: 90px;
      min-width: 75px;
      padding: .5em;
    }
  }
}

.navs {
  text-transform: capitalize;
  font-family: ApercuLight;
  margin-top: 21px; 
  border-radius: 20px;
  background: #FFFFFF; 
  overflow: hidden;
  overflow-x: visible;
  height: 30px; 
  position: relative;
  div { 
    cursor: pointer;
    white-space: nowrap; 
    font-family: 'ApercuLight';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    color: #BFD1E8;
  } 
   

  .active {
    background-color: #BFD1E8;
    border-radius: 20px;
    color: #090954; 
    justify-content: center;
  }
  .left{
    position: sticky;
    left: -1px;
    padding: 0px !important;
    // border-right: 1px solid #BFD1E8;
  }
  .rigth{
    position: sticky;
    right: 0px;    
    // border-left: 1px solid #BFD1E8;  
    padding: 0px !important;
  }
}
.navs::-webkit-scrollbar{
   height: 0px;
   width: 0px;
 }

.w-100 {
  width: 100%;
}
.main-width{
  width: calc(100% - 20px);
}
.logout {
  font-family: Apercu;
  font-size: 14px;
  line-height: 20px;
  color: #090954;
  cursor: pointer;
  margin-bottom: 37px;
  margin-top: 21px;

  img {
    width: 10px;
  }
}
