<div class="profileContainer" fxLayout="column" fxLayoutAlign="start center">
  <div fxHide.xs fxShow.gt-xs class="profileImage w-100 text-center" fxLayout="column" fxLayoutAlign="center center">
    <h1>my <br />profile</h1>
  </div>
  <div  fxShow.xs fxHide.gt-xs class="profileImage1 w-100 text-center" fxLayout="column" fxLayoutAlign="center center">
    <img style="min-height: 220px;width: 100%;" src="https://files.y.jewelry/assets/img/profile/profileCover.jpg" alt="">
    <h1 class="target-mobile">my profile</h1>
  </div>
  <div class="mainDiv main-width" fxLayout="column" fxLayoutAlign="start center">
     <div class="navs" id="nav" fxLayout="row" #navtop> <!-- fxLayoutAlign="center center" -->
      <div class="left" *ngIf="isShowLeftRigthScroll(navtop,true);" (click)="scrollLeft(navtop)">
          <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 26 30" fill="none">
            <path d="M1 0H11C19.2843 0 26 6.71573 26 15C26 23.2843 19.2843 30 11 30H1V0Z" fill="white"/>
            <rect width="1" height="30" fill="#BFD1E8"/>
            <path d="M10.625 20C10.4375 20 10.3125 19.9375 10.1875 19.8125C9.9375 19.5625 9.9375 19.1875 10.1875 18.9375L14.125 15L10.1875 11.0625C9.9375 10.8125 9.9375 10.4375 10.1875 10.1875C10.4375 9.9375 10.8125 9.9375 11.0625 10.1875L15.875 15L11.0625 19.8125C10.9375 19.9375 10.8125 20 10.625 20Z" fill="#BFD1E8"/>
          </svg>
      </div>
      <div [routerLink]="['accountdetails']" routerLinkActive="active"><a
          [routerLink]="['accountdetails']">Dashboard</a></div>
        <div [routerLink]="['mynotifications']" routerLinkActive="active"><a [routerLink]="['mynotifications']">Notifications</a></div>
      <div [routerLink]="['myaddress']" routerLinkActive="active"><a [routerLink]="['myaddress']">Addresses</a></div>
      <div  [routerLink]="['orders']" routerLinkActive="active">
        <a [routerLink]="['orders']">Orders</a>
      </div>
      <div [routerLink]="['mycredits']" routerLinkActive="active"><a [routerLink]="['mycredits']">Credits</a></div>
    <div fxShow.xs fxHide.gt-xs class="rigth" *ngIf="isShowLeftRigthScroll(navtop,false);" (click)="scrollRigth(navtop)">
      <svg  xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 26 30" fill="none">
        <path d="M1 0H11C19.2843 0 26 6.71573 26 15C26 23.2843 19.2843 30 11 30H1V0Z" fill="white"/>
        <rect width="1" height="30" fill="#BFD1E8"/>
        <path d="M10.625 20C10.4375 20 10.3125 19.9375 10.1875 19.8125C9.9375 19.5625 9.9375 19.1875 10.1875 18.9375L14.125 15L10.1875 11.0625C9.9375 10.8125 9.9375 10.4375 10.1875 10.1875C10.4375 9.9375 10.8125 9.9375 11.0625 10.1875L15.875 15L11.0625 19.8125C10.9375 19.9375 10.8125 20 10.625 20Z" fill="#BFD1E8"/>
      </svg> 
    </div>
    </div> 
    <router-outlet></router-outlet>
    <div class="logout cursorPointer" (click)="logout()">
      <img src="https://files.y.jewelry/assets/img/profile/logout.png" alt="logout" /> Log Out
    </div>
  </div>
</div>
