.example-list {
  max-width: 100%;
  background: white;
  border-radius: 5px;
  // height: 138px;
  // max-height: 150px;
}

.example-box {
  margin: auto;
  width: 70px;
  height: 69px;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  .listItem{
    position: relative;
    .forward-backword{
      position: absolute;
      bottom: -8px;
      background: #BFD1E8;
      height: 17px;
      width: 17px;
      text-align: center;
      border-radius: 20px;
      line-height: 17px;
    }
    .delete-arrow{
      position: absolute;
      top: -6px;
    }
  }
}
.display-none{
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 50%;
  background: transparent;
  // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //   0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //   0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.listItem svg { 
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.title {
  font-family: Apercu;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  padding: 10px 0;
}

.hovering {
  opacity: 0.5;
}

.removeButton {
  position: relative;
  margin-top: -30px;
}

.charmImage {
  height: 69px;

  img {
    object-fit: cover;
    width: 69px;
    border: 1px solid #BFD1E8;
    border-radius: 50%;
  }
  .border1dartBlue{
    border: 1px solid #090954 !important;
  }
  .border1skyBlue{
    border: 1px solid #BFD1E8 !important;

  }

}

.deleteItem {
  margin-top: -15px;
}

.w1000 {
  // width: 1000px;
  // max-width: 100%;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  // border-radius: 1em;
  // overflow-x: scroll;
}

.tab-Heretext{
  font-size: 12px;
  line-height: 12px;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BFD1E8;
}
.forward {
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);
  /* FF */
  -o-transform: rotate(180deg);
  /* Opera */
  -ms-transform: rotate(180deg);
  /* IE9 */
  transform: rotate(180deg);
  /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');

}

.scroll {
  padding: 10px 0;

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
  }
}

.mt5 {
  margin-top: 5px;
}
.charmCurator{
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: auto;
}
.minapply{  
  min-height: 69px;
  min-width: 69px;

}