

<h1>Data From </h1>
<h1>{{data}}</h1>



<!-- <div class="mobileImg" (swiperight)="leftSlide();StartTimmer();" (swipeleft)="rightSlide();StartTimmer();">
  <picture> 
    <img itemprop="image" class="ProductThumbImageOnDetailMobilePage" id="productImg" 
      [src]="Vslide.src" [alt]="Vslide.alt" width="200">
  </picture>
</div>

<div class="dotNav" fxLayout="row" fxLayoutAlign="space-between center"  *ngIf="slides.length > 1">
  <ng-container *ngFor="let slide of slides">
    <div class="dot {{slide.id === Vslide.id?'active':'inactive'}}"  [style.opacity]="!(slide.id <= Vslide.id)?'1':'1'"
     [style.width]="'calc(100% - ' + slides.length*7 +'px)'" (click)="Vslide = slide;StartTimmer();">
    <div class="display-none">
      Counter={{counterTimmer}}<br>
      Active ={{slide.id === Vslide.id}}
  </div> 
     <ng-container *ngIf="(slide.id === Vslide.id)">  
      <div class="inner-dot-active" [style.width]="counterTimmer+'%'">
      </div>
     </ng-container>     
     <ng-container *ngIf="(slide.id < Vslide.id)"> 
      <div class="inner-dot-previous">
      </div>            
     </ng-container>  
      <ng-container *ngIf="(slide.id > Vslide.id)"> 
        <div class="inner-dot-remaining">
        </div> 
       </ng-container>  

    </div> 
  </ng-container>
</div>
<button (click)="leftSlide();StartTimmer();">Left</button>
<button (click)="rightSlide();StartTimmer();">Rigth</button> -->