.Promotional{
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    .imgContainer{
        width: calc(100% - 20px);
        margin: auto;
        text-align: center;
    }
    .heading{
        width: calc(100% - 20px);
        margin: auto;
        font-family: Apercu;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px; 
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #090954;
    }
    .subheading{
        width: calc(100% - 20px);
        margin: auto;
        font-family: Apercu;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px; 
        text-align: center;
        color: #090954;
        .blue-text{
            color: #BFD1E8 !important;
        }
    }
}